.contact-page-container {
  
  h2 {
    margin-top: 0;
  }
  
  hr {
    margin: 40px 0;
  }
  
  p {
    margin: 0;
  }
  
  .address, .contactinfo {
    font-size: 1.33em;
    line-height: 32px;
    margin-bottom: 40px;
    
    a {
      font-size: 1.33em;
    }
    
    strong {
      color: $tu-red-light;
    }
    
    img {
      width: 30px;
      margin-bottom: -1px;
      margin-right: 10px;
      float: left;
    }
  }
  
  .routes {
    font-size: 1.11em;
    line-height: 28px;

    .button {
      margin-top: 10px;
    }
  }
    
  .map {
    margin-bottom: 60px;
  }
  
  .map, .social-media {
    h2 {
      margin-bottom: 25px;
    }
  }
  
  .social-media {
    .buttons {
      padding: 30px 0;
    }
    
    .button {
      &.social {
        width: auto;
        padding: 0 15px;
        border-right: 1px solid #000;
        
        svg {
          width: 20px;
        }
        
        &.youtube svg,
        &.spotify svg {
          width: 40px;
        }
        
        @media (min-width: $screen-xs) {
          svg {
            width: 40px;
          }
        
          &.youtube svg,
          &.spotify svg {
            width: 70px;
          }
        }
      }
    }
  }
}