.crew_production {
  margin: 20px 0;
  
  p {
    margin: 0;
  }
  
  a {
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.crew_biography {
  margin: 0;
  
  h2 {
    margin-top: 0;
  }
}

.crew-photo {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}