%tu-font-light {
  font-family: $tu-font-light;
  font-weight: 200;
}

%tu-font-regular {
  font-family: $tu-font-regular;
  font-weight: 400;
}

%tu-font-bold {
  font-family: $tu-font-bold;
  font-weight: 700;
}

%tu-font-heavy {
  font-family: $tu-font-heavy;
  font-weight: 800;
}
