.footer {
  background-color: #000;
  color: #fff;
  width: 100%;
  overflow: hidden;
  margin: 40px 0 0 0;
  text-align: center;
  padding-top: 30px;    
  @media (min-width: $screen-md) {
    text-align: left;
  }
  
  @media (min-width: $screen-sm) {
    height: auto;
  }

  h4 {
    margin-top: 0;
    font-size: 1.2em;
    text-transform: uppercase;
  }
  
  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-right: 15px;
    list-style: none;
    display: inline-block;
    line-height: 36px;
    
    &:last-child {
      margin-right: 0;
    }
  }
  
  a {
    color: #fff;
    text-decoration: none;
  }
  
  .buttons,
  .links {
    width: 100%;
    float: left;
    margin-bottom: 15px;
    padding: 0;
  
    @media (min-width: $screen-md) {
      width: auto;
      padding: 0;
    }
  }
  
  .links {
    margin-right: 15px;
  }
  
  .button.social {

    padding: 0;
    background: none;

    svg {
      background: none;
      fill: #fff;
    }

    &.facebook,
    &.instagram,
    &.twitter,
    &.youtube,
    &.spotify {
      width: 40px;
      height: 30px;
      
      svg {
        width: 35px;
        height: 25px;
      }
    }
    
    &.youtube,
    &.spotify {
      width: 70px;
      height: 30px;
      
      svg {
        width: 60px;
        height: 30px;
      }
    }
  }
  .partners {
    a, a:hover {
      text-decoration: none;
    }
    text-align: left;
    img {
      max-width: 150px; 
    }
  }
}