
html,
body {
  height: 100%;
}

img {
  max-width: 100%;
}

.map {
  img {
    max-width: none;
  }
}

.overlay {
  position: absolute;
  width: 3000px;
  height: 3000px;
  top: -3000px;
  right: 42px;
  @media (min-width: $screen-md) {
    right: 122px;
  }
  overflow: hidden;
  transform-origin: right bottom;
  transform: rotate(-32deg);
  backface-visibility: hidden;
  background: rgba(#000, .5);
  z-index: 1;
}

.container-fluid {
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: $screen-xs) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $screen-md) {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  @media (min-width: $screen-lg) {
    padding-left: 90px;
    padding-right: 90px;
  }
}

.header-container {
  height: 200px;
  
  @media (min-width: $screen-xs) {
    height: 350px;
  }
}

.page-header {
  position: absolute;
  width: 100%;
  height: 650px;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  
  @media (min-width: $screen-sm) {
    height: 100%;
  }
}

.header-text {
  z-index: 5;
  position: absolute;
  width: 100%;
  
  h1 {
    margin-top: 140px;
    color: $tu-red-light;
    z-index: 2;
    font-size: 3.5em;
    @include adjust-leading-to(0.5);
    
    &.no-image {
      color: #000;
      padding: 0 20px;
    }
    
    @media (min-width: $screen-sm) {
      font-size: 5.33em;
      
      &.no-image {
        padding: 0;
      }
    }
    
    @media (min-width: $screen-lg) {
      font-size: 6.667em;
    }
  }
}

.content-container {
  position: relative;
  min-height: 700px;
  z-index: 2;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
  
  @media (min-width: $screen-md) {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  @media (min-width: $screen-lg) {
    padding-left: 90px;
    padding-right: 90px;
  }
  
  .content {
    min-height: 920px;
  }
}
.content {
  padding: 15px;
  background: #fff;
  
  h2 {
    margin-top: 0px;
  }
  
  @media (min-width: $screen-sm) {
    padding: 40px;
  }
}

.sidebar {
  .side-block {
    margin: 60px 0;
    
    &.padded {
      border-left: 3px solid #000;
      padding-left: 25px;
    }
    
    &:first-child {
      margin-top: 0;
    }
  }
}

.page-controls {
  text-align: center;
  width: 100%;
  font-size: 1.43em;
  font-weight: 500;
  
  .text-center {
    display:inline-block;
  }
  
  a {
    text-decoration: none;
  }
  
  li {
    display: none;
    list-style: none;
    padding: 6px 12px;
    font-weight: 500;
    border-right: 1px solid #000;
    background-size: 18px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    
    @media (min-width: $screen-sm) {
      display: inline;
    }
    
    &:first-child {
      display: inline !important;
      content: '&nbsp;';
      position: relative;
      padding-right: 34px;
      border: 0;
      background-image: image-url('icons/arrow_left.png');
      
      a {
        content: '<';
        color: #fff;
        width: 40px;
        height: 40px;
        display: block;
        float: left;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    
    &:last-child {
      display: inline !important;
      content: '&nbsp;';
      position: relative;
      padding-left: 34px;
      background-image: image-url('icons/arrow_right.png');
      border: 0;
      
      a {
        content: '<';
        color: #fff;
        width: 40px;
        height: 40px;
        display: block;
        float: left;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    
    &:nth-last-child(2) {
      border: 0;
    }
    
    &.active {
      a {
        font-weight: 700;
        
        &:hover {
          color: #000;
          text-decoration: none;
        }
      }
    }
  }
}