.page-header-small.news {
  
  h1 {
    color: $tu-red-light;
  }
}

.news-index {
  img{
    width: 100%;
    min-height: 90px;
  }
  
  .content {
    padding: 15px 30px;
    
    @media (min-width: $screen-sm) {
      padding: 25px 40px;
    }
  }
  
  h2 {
    margin-top: 0;
    text-decoration: none;
    line-height: 45px;
    
    a {
      text-decoration: none;
    }
  }
  
  .date {
    display: none;
    font-weight: 600;
  }
  
  .news-item {
    margin-bottom: 30px;
  }
  
  .news-content,
  .button {
    display: none;
  }
    
  @media (min-width: $screen-sm) {
    .news-content,
    .date {
      display: block;
    }
    
    .button {
      display: inline-block;
    }
    
    h2 {
      line-height: 38px;
    }
  }
}

.page-header-small.news-show {
  margin-top: 140px;
  
  h1 {
    font-size: 4em;
    @include adjust-leading-to(1);
    line-height: 80px;
    margin-bottom: 50px;
  }
}

.news-message {
  img {
    width: 100%;
  }
  
  .news-text {
    float: left;
    
    @media (min-width: $screen-sm) {
      float: right;
    }
  }
  
  .news-video {
   margin-bottom: 40px; 
  }
  
  .intro {
    font-weight: 600;
    
    p {
      margin-top: 0;
    }
  }
}