.sidebar.news {
  h2 {
    text-transform: uppercase;
    text-decoration: underline;
  }
}

.sidebar.news-item {
  margin: 15px 0;
  font-size: 1.5em;
  float: left;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
  > span.text{
    padding-right: 30px;
  }
  img{
    width: 120px;
    float: left;
    margin-right: 20px;
  }
}

.news-page {
  .date {
    margin-top: 0;
  }
  
  h2 {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
  }
}