.press {
  h2 {
    text-transform: uppercase;
    text-decoration: underline;
  }
}

.press-item {
  margin: 20px 0;
  font-size: 1.33em;
  
  a, p {
    text-decoration: none;
    
  }
}

.press-page {
  .date {
    margin-top: 0;
  }
  
  h2 {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
  }
}