.truncated-text {
  max-height: 5000px;
  overflow: hidden;
  transition: max-height 1500ms ease-in-out;
  
  &.active {
    max-height: 180px;
    transition: max-height 1500ms ease-in-out;
    
    @media (min-width: $screen-xs) {
      max-height: 185px;
    }
    
    @media (min-width: $screen-sm) {
      max-height: 190px;
    }
    
    @media (min-width: $screen-lg) {
      max-height: 185px;
    }
  }
}

.side-block.text {
  float: left;
  margin-top: 40px;
  
  h2 {
    margin-top: 0;
    @include adjust-leading-to(0.5);
    text-decoration: underline;
    text-transform: uppercase;
  }
}

.video-list {
  display: none;
  position: absolute;
  width: 100%;
  height: 480px;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
  
  @media (min-width: $screen-md) {
    display: block;
  }
}

.attachments {
  font-size: 1.33em;
  line-height: 1em;
  
  table {
    width: 100%;
    margin: 20px 0;
  }
  
  tr {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
  }
  
  tr:last-child {
    border-bottom: 0px;
  }
  
  td {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 12px 0px;
    @media (min-width: $screen-md) {
      max-width: none;
    }
  }
}