.showtime-table-container {
  .showtime-period {
    padding-bottom: 28px;
    border-bottom: 1px solid #000;
    margin-bottom: 0;
    margin-top: 30px;
    overflow: hidden;

    &.first {
      margin-top: 0px;
    }

    @media (min-width: $screen-md) {
      &.first  {
        margin-top: 30px;
      }
    }

  }

  .month {
    float: left;
    margin-right: 10px;
  }
  
  .year {
    float: left;
    color: $tu-red-light;
    
    @media (min-width: $screen-xs) {
      margin-right: 15px;
    }
  }
}

.showtime-table {
  display: inline-block;
  width: 100%;
}

.showtime-row {
  display: inline-block;
  position: relative;
  width: 100%;
  border-bottom: 1px solid black;
  
  @media (min-width: $screen-md) {
    display: table;
    width: 100%;
    white-space: nowrap;
    table-layout: fixed;
    border-bottom: 1px solid;
    border-collapse: collapse;
  }
}
  
.showtime-cell {
  float: left;
  display: block;
  overflow: hidden;
  font-size: 1.25em;
  line-height: 32px;
  min-width: 105px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  
  &.icon {
    width: 50px;
    display: none;
    line-height: 32px;
  }
  
  &.date {
    min-width: 0;
    margin-right: 5px;
  }
  
  &.time {
    clear: right;
  }
  
  &.title {
    clear: left;
    min-width: 100%;
  }
  
  &.ticket {
    position: absolute;
    right: 0;
    top: 10px;
  }
  
//  &.city {
//    display: none;
//  }
  
  .button {
    margin: 0;
    min-width: 100px;
    line-height: 29px;
  }
  
  @media (min-width: $screen-xs) {
    &.ticket {
      min-width: 180px;
      top: 26px;
      right: 15px;
    }
    
    &.city {
      display: table-cell;
    }
    
    .button {
      min-width: 170px;
    }
  }
  
  @media (min-width: $screen-sm) {
    min-width: 180px;
    
    &.date {
      min-width: 0;
      margin-right: 5px;
    }
  
    &.title {
      min-width: 180px;
    }
  
    &.ticket {
      min-width: 180px;
      top: 10px;
      right: 15px;
    }
  }
  
  @media (min-width: $screen-md) {
    display: table-cell;
    float: none;
    line-height: 65px;
    min-width: 0;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 20%;
    
    &.icon {
      display: table-cell;
      width: 50px;
      vertical-align: middle;
    }
    
    &.date {
      width: 105px;
    }
    
    &.time {
      width: 75px;
      clear: none;
    }
    
    &.title {
      clear: none;
    }
    
    &.ticket {
      position: relative;
      top: 0;
      width: 160px
    }
    
    .button {
      position: relative;
      min-width: 144px;
      top: 13px;
      padding: 10px 10px 8px 10px;
    }
  }
  
  @media (min-width: $screen-lg) {
    .button {
      min-width: 170px;
    }
  }
}

.legend {
  padding: 0;
  color: #999;
  margin-bottom: 20px;
  display: none;
  font-size: 1.2222em;
  margin-bottom: 0;
  width: 100%;

  .legend-item {
    margin-bottom: 0;
    width: 33%;
    float: none;
    clear: none;
    display: table-cell;
  }
  
  @media (min-width: $screen-md) {
    display: table;
  }
  
  img {
    float: left;
    width: 15px;
    margin-right: 6px;
    opacity: 0.4;
  }
  
  @media (min-width: $screen-xs) {
    img {
      width: 25px;
      margin-right: 10px;
    }
  }
  
  p {
    float: left;
    margin: 0;
    @include adjust-leading-to(0.5);
  }
}

// Yellow blocks

.showtimes-block {
  &.production {
    height: auto;
    
    h1 {
      margin: 0;
      
      a {
        font-size: 0.85em;
      }
    }
  }
}

.side-block {
  &.showtimes-block {
    overflow: hidden;
    float: none;
  }
}