.headlines {
  display: none;
  
  h1 {
    font-size: 6.667em;
    line-height: 30px;
    margin-bottom: 50px;
  }
  
  @media (min-width: $screen-sm) {
    display: block;
  }
}

.tile {
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
  font-size: 1.167em;
  
  .content {
    padding: 25px;
  }
}
  
.tile-audio {
  .content {
    background-size: cover;
    background-position: 50% 50%;
    min-height: 240px;
    position: relative;
}
  
  .ui {
    width: 100%;
    height: 72px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.6);
  }
  
  .icon {
    width: 72px;
    height: 72px;
    float: left;
    position: absolute;
    left: 0;
    background: #000;
    background-image: image-url('icons/audio.png');
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  
  .title {
    float: left;
    line-height: 72px;
    text-transform: uppercase;
    padding-left: 97px;
    color: #fff;
    @extend %tu-font-bold;
  }
}
  
.tile-image {
  .content {
    padding: 0;
  }
  
  img {
    width: 100%;
  }
}
  
.tile-news {
  .content {
    text-align: center;
    background-color: $tu-yellow-light;
    position: relative;
  }
  
  .title-container {
    height: 50px;
    margin-top: 20px;
  }
  
  .title {
    background: $tu-yellow-light;
    text-transform: uppercase;
    margin-bottom: 8px;
    position: absolute;
    top: 0;
    padding: 0 5px;
    left: 50%;
    font-size: 1.833em;
    @extend %tu-font-bold;
    @include adjust-leading-to(0.1);
    transform: translateX(-50%);
  }
    
  .title-line {
    content: '';
    width: 100%;
    display: block;
    height: 5px;
    background: #000;
    position: relative;
  }
  
  .date {
    @extend %tu-font-regular;
    text-transform: uppercase;
  }
  
  .readmore {
    display: block;
    margin: 15px 0;
    text-decoration: underline;
    @extend %tu-font-bold;
    text-transform: uppercase;
  }
}
  
.tile-quote {
  .content {
    text-align: center;
    background-color: $tu-red-light;
  }
  
  .text {
    @extend %tu-font-bold;
    line-height: 34px;
    
    p {
      margin: 35px 0;
      font-size: 1.667em;
    }
    
    &:before, &:after {
      content: '';
      width: 62px;
      height: 49px;
      display: block;
      background-repeat: no-repeat;
      background-size: 100%;
      margin: 0 auto;
    }
    
    &:before {
      background-image: image-url('icons/quote_open.png');
    }
    
    &:after {
      background-image: image-url('icons/quote_close.png');
    }
  }
  
  .author {
    margin-top: 10px;
    font-size: 1.3em;
  }
}

.tile-tweet {
  .content {
    text-align: center;
    background-color: $tu-blue-light;
  }
  
  .text {
    color: #fff;
    font-size: 1.43em;
    line-height: 34px;
    
    a {
      color: #fff;
      text-decoration: underline;
      
      &:hover {
        color: $tu-red-light;
      }
    }
  }
  
  .author {
    color: #000;
    
    a {
      text-decoration: none;
    }
    
    &:before {
      content: '';
      width: 41px;
      height: 34px;
      display: block;
      margin: 0 auto;
      margin-top: 50px;
      margin-bottom: 10px;
      background-image: image-url('icons/twitter_black.png');
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }
}

.tile-video {
  .content {
    padding: 0;
    position: relative;
  }
  
  .thumbnail-overlay	 {
    width: 100%;
    height: 100%;
    z-index: 40;
    display: block;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
}

.tile-text {
  .content {
    background: $tu-grey-light;
  }
}
