// Normalize Settings

// The base font size.
$base-font-size: 12px;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px;

// The length unit in which to output vertical rhythm values.
// Supported values: px, em, rem.
$rhythm-unit: 'em';

// The default font family.
$base-font-family: sans-serif;

// The font sizes for h1-h6.
$h1-font-size: 2    * $base-font-size;
$h2-font-size: 1.5  * $base-font-size;
$h3-font-size: 1.17 * $base-font-size;
$h4-font-size: 1    * $base-font-size;
$h5-font-size: 0.83 * $base-font-size;
$h6-font-size: 0.67 * $base-font-size;

// The amount lists and blockquotes are indented.
$indent-amount: 40px;

// Fonts
$tu-font-light: "ff-mark-web";
$tu-font-regular: "ff-mark-web";
$tu-font-bold: "ff-mark-web";
$tu-font-heavy: "ff-mark-web";

// Colors
$tu-grey-dark: #2e2e2e;
$tu-grey-light: #efefef;

$tu-red-light: #ff0037;
$tu-red-dark: #d4012e;

$tu-yellow-light: #ffde00;
$tu-yellow-dark: #d5ba01;

$tu-blue-light: #4682c3;
$tu-blue-dark: #3b6ea6;

$base-color: $tu-red-light;
$text-color: #000;
$link-color: #000;
$link-color-hover: $base-color;

//Screen sizes
$screen-xs: 480px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

//usage thresholds
$graceful-usage-threshold: 5;
$critical-usage-threshold: 1;

//Supported browsers
$supported-browsers: reject(browsers(), opera-mini);
