
@import "base";

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection,
::-moz-selection {
  background: lighten($base-color, 20%);
}

// This mixin is placed on html
@include establish-baseline;

html {
  font-family: $tu-font-regular;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 10px;

  @media (min-width: $screen-xs) {
    font-size: 12px;
  }

  @media (min-width: $screen-sm) {
    font-size: 13px;
  }

  @media (min-width: $screen-md) {
    font-size: 13px;
  }

  @media (min-width: $screen-lg) {
    font-size: 15px;
  }
}
body {
  color: $text-color;
  background-color: #ffffff;
}


h1, h2, h3, h4 {
  font-family: $tu-font-bold;
}

h2 {
  font-size: 2.5em;
  line-height: 38px;
  margin-top: 40px;
  margin-bottom: 10px;
  
  &.first {
    margin-top: 0px;
    margin-bottom: 40px;
  }
}

h3 {
  font-size: 1.5em;
  margin-bottom: -26px;
  @extend %tu-font-heavy;
}

a {
  color: $link-color;
  text-decoration: underline;
  transition: color 250ms ease-in-out;

  &:hover,
  &:focus {
    color: $link-color-hover;
    text-decoration: underline;
  }
  &:focus {
    outline: thin dotted $base-color;
    outline: 5px auto -webkit-focus-ring-color;
  }
  
  &.caplink {
    text-transform: uppercase;
    text-decoration: underline;
    font-size: 0.7em;
    @extend %tu-font-bold;
  }
  
  h3 {
    &:hover {
      text-decoration: underline;
    }
  }
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid $text-color;
}

p,
pre {
  margin: rhythm(0.7) 0;
  font-size: 1.33em;
}

ul:empty {
  margin: 0;
}

nav ul,
nav ol {
  padding: 0;
}