//@import "base";

//.styleguide {
//
//  .square {
//    width: 120px;
//    height: 120px;
//    float: left;
//    margin-right: 15px;
//  }
//
//  .square.dark {
//    @include background-image(linear-gradient(-45deg, $tu-grey-dark 50%, $tu-grey-light 50%));
//  }
//
//  .square.black {
//    content: '#000';
//    background: #000;
//    display: block;
//    width: 40px;
//    height: 120px;
//    margin: 0;
//  }
//
//  .square.red {
//    @include background-image(linear-gradient(-45deg, $tu-red-dark 50%, $tu-red-light 50%));
//  }
//
//  .square.yellow {
//    @include background-image(linear-gradient(-45deg, $tu-yellow-dark 50%, $tu-yellow-light 50%));
//  }
//
//  .square.blue {
//    @include background-image(linear-gradient(-45deg, $tu-blue-dark 50%, $tu-blue-light 50%));
//  }
//}