// @import "compass"; NIJNIKIS COMMENT
// @import "compass/layout.scss"; NIJNIKIS COMMENT
@import "mixins";
@import "bootstrap/variables";
@import "variables";
// @import "breakpoint"; NIJNIKIS COMMENT
@import "fonts";

html {
  font-family: $tu-font-regular;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 10px;

  @media (min-width: $screen-xs) {
    font-size: 12px;
  }

  @media (min-width: $screen-sm) {
    font-size: 13px;
  }

  @media (min-width: $screen-md) {
    font-size: 13px;
  }

  @media (min-width: $screen-lg) {
    font-size: 15px;
  }
}
body {
  color: $text-color;
  background-color: #ffffff;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color 250ms ease-in-out;

  &:hover,
  &:focus {
    color: $link-color-hover;
    text-decoration: underline;
    outline: none;
  }
}

#header,
#content,
#footer {
  margin: 0 auto;
  font-size: 1em;
  padding: 0 20px;

  @media (min-width: $screen-xs) {
    padding: 0 50px;
  }

  @media (min-width: $screen-sm) {
    padding: 0 150px;
  }
  
  .titelbalk {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 30px;
  }
}

#usermenu {
  div {
    width: 100%;
  }
  
  .menuitem {
    width: 50%;
    float: left;
    text-align: center;
    text-transform: uppercase;
    
    &:last-child {
      display: none;
    }
    
    a {
      display: block;
      margin: 30px;
      padding-bottom: 30px;
      border-bottom: 2px solid #ddd;
    }
    
    &:first-child a {
      margin-left: 0;
    }
    
    &:nth-child(2) a {
      margin-right: 0;
    }
  }
}

#main {
  display: inline-block;
  width: 100%;
  float: right;
  
  div {
    margin: 10px 0;
  }
  
  table {
    width: 100%;
  }
  
  th {
    padding: 0;
    text-align: left;
  }
  
  td {
    text-align: left;
    padding: 0;
  }
  
  .LabelColumn {
    display: block;
    line-height: 46px;
  }
  
  .divDetails {
    margin-bottom: 15px;
    span {
      font-size: 1.5em;
      font-weight: 600;
    }
  }
  
  input[type="text"],
  input[type="password"],
  select {
    width: 100%;
    min-width: 200px;
    height: 44px;
    margin-bottom: 15px;
    padding-left: 15px;
    background-color: #ddd;
    border: 0;
    outline: none;
    font-family: $tu-font-regular;
    font-size: 0.8em;
    font-weight: 400;
    border-radius: 0;
    @include adjust-font-size-to(14px);
    
    &.TariefsmallTextBox {
      width: 20%;
    }
  }
  
  .TariefEerstKolom {
    width: 20%;
  }
  .TariefDataEditKolom {
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    max-width: 300px;
  }
  
  select {
    position: relative;
    width: 70%;
    max-width: 316px;
    background-image: image-url('icons/dropdown-arrow.png');
    background-position: 94% 60%;
    background-size: 10%;
    background-repeat: no-repeat;
    -webkit-appearance: none;
  }

  input[type="submit"] {
    min-width: 140px;
    margin: 10px 0;
    border: 0;
    background-color: #ff0037;
    font-family: $tu-font-regular;
    font-size: 1em;
    color: #fff;
    padding: 10px 15px 8px 15px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 250ms;
    
    &:hover,
    &:focus {
      background-color: #ff4f75;
    }
    
    &.formbutton_nomargin {
      margin-top: 4px;
      margin-left: 20px;
    }
  }
  
  .linkAsButton {
    float: left;
    cursor: pointer;
    text-align: center;
    line-height: 55px;
    margin-left: 20px;
    color: #000;
  }
  
  a {
    color: #ff0037;
    text-decoration: underline;
    outline: none;
    
    &:hover,
    &:focus {
      color: #000;
    }
  }
}

// Shoppingcart

#ctl00_ContentCenter_ShoppingCart1_divShoppingCart {
  
  tr:last-child {
    border-top: 2px solid #ddd;
  }
  
  td {
    padding: 10px 0;
  }
}

#content {
  position: relative;
  padding: 0 20px;
  font-size: 1.25em;
  
  @media (min-width: $screen-xs) {
    padding: 0 50px;
  }

  @media (min-width: $screen-sm) {
    padding: 0 150px;
  }
}

#footer {
  display: none;
}
