// @import "compass"; NIJNIKIS COMMENT
// @import "compass/layout.scss"; NIJNIKIS COMMENT
@import "mixins";
@import "bootstrap/variables";
@import "variables";
// @import "breakpoint"; NIJNIKIS COMMENT
@import "fonts";

html {
  font-family: $tu-font-regular;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 10px;

  @media (min-width: $screen-xs) {
    font-size: 12px;
  }

  @media (min-width: $screen-sm) {
    font-size: 13px;
  }

  @media (min-width: $screen-md) {
    font-size: 13px;
  }

  @media (min-width: $screen-lg) {
    font-size: 15px;
  }
}
body {
  color: $text-color;
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color 250ms ease-in-out;

  &:hover,
  &:focus {
    color: $link-color-hover;
    text-decoration: underline;
    outline: none;
  }
}

// Title on some pages

#ContentCenter_ActInfo1_lblTitel{
  font-size: 2em;
  line-height: 2em;
  font-weight: 600;
  margin-bottom: 30px;
}

ol {
  list-style-type: none;
  padding-left: 0px;
}

#divTitel {
  display: none;
}

.LoginField {
  label {
    display: inline-block;
    width: 80%;
    @media (min-width: $screen-xs) {
      width: 24%;
    }
  }
  input {
    width: 90% !important;
  }
}

.scrDataTabel {
  tr td{
    padding: 5px 0px !important;
  }
}

table.LoginVlak {
  tr td {
    padding: 10px 0 !important;
  }
}


#menubar{
  background-color: black;
  padding: 10px 0;
  margin-bottom: 20px;
  position: relative;

  a#LoginView1_LoginStatus1 {
    position: absolute;
    min-width: auto !important;
    margin: 0 !important;
    right: 0;
    top: 0;
  }

  p {
    color: #fff;
    padding: 0;
    margin: 0;
    margin-left: 10px;
  }
  
  a.username {
    min-width: auto !important;
    background-color: #000 !important;
    color: #fff !important;
    cursor: pointer !important;
    -webkit-appearance: none !important;
    transition: none !important;
    padding: 10px 0px !important;
    &:hover,
    &:focus {
      background-color: #000 !important;
      text-decoration: underline !important;
    }
  }
  
  #login a {
    min-width: 140px;
    margin: 10px 0;
    border: 0;
    background-color: #ff0037;
    font-family: $tu-font-regular;
    font-size: 1em;
    color: #fff;
    padding: 10px 15px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 250ms;
  
    &:hover,
    &:focus {
      background-color: #ff4f75;
      text-decoration: none;
    }
  
    &.formbutton_nomargin {
      margin-top: 4px;
      margin-left: 20px;
    }
  }
}

#ContentCenter_BezoekerForm_NewsletterRow,
#ContentCenter_BezoekerForm_InterestsRow{
  background-color: #f8f8f8;
}
#ContentCenter_BezoekerForm_NewsletterRow,
#ContentCenter_BezoekerForm_CharacteristicsRow,
#ContentCenter_BezoekerForm_InterestsRow{
  vertical-align: text-top;
  td {
    padding: 5px 0 !important;
  }
}

table {
  border-collapse: collapse !important;
}

#ContentCenter_BezoekerForm_InterestsCheckBoxList {
  td {
    padding: 0 10px;
  }
}

#header,
#content,
#footer {
  margin: 0 auto;
  font-size: 1em;
  padding: 0px;

  @media (min-width: $screen-xs) {
    padding: 0px;
  }

  @media (min-width: $screen-sm) {
    padding: 0px;
  }
  
  @media (min-width: $screen-md) {
    padding: 0 75px;
  }
  
  @media (min-width: $screen-lg) {
    padding: 0 150px;
  }

  .titelbalk {
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 30px;
  }
}

#usermenu {
  div {
    width: 100%;
  }
  
  .menuitem {
    width: 50%;
    float: left;
    text-align: center;
    text-transform: uppercase;
    
    &:last-child {
      display: none;
    }
    
    a {
      display: block;
      margin: 30px;
      padding-bottom: 30px;
      border-bottom: 2px solid #ddd;
    }
    
    &:first-child a {
      margin-left: 0;
    }
    
    &:nth-child(2) a {
      margin-right: 0;
    }
  }
}

#main {
  display: inline-block;
  width: 100%;
  float: right;
  
  div {
    margin: 10px 0;
  }
  
  table {
    width: 100%;
  }
  
  th {
    padding: 0;
    text-align: left;
  }
  
  td {
    text-align: left;
    padding: 0;
  }
  
  .LabelColumn {
    display: block;
    line-height: 46px;
  }
  
  .divDetails {
    margin-bottom: 15px;
    span {
      font-size: 1.5em;
      font-weight: 600;
    }
  }
  
  // Alleen breedte inputs in tarieflijskt
  #ContentCenter_TariefLijst1_gvTarieven {
    input[type="text"],
    input[type="password"],
    input[type="email"],
    select {
      min-width: 50px;
      width: 50px;
    }
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  select {
    width: 100%;
    min-width: 200px;
    height: 2em;
    margin-bottom: 15px;
    padding-left: 15px;
    background-color: #ddd;
    border: 0;
    outline: none;
    font-family: $tu-font-regular;
    font-size: 0.8em;
    font-weight: 400;
    border-radius: 0;
    @include adjust-font-size-to(14px);
    
    &.TariefsmallTextBox {
      width: 20%;
    }
  }
  
  .TariefEerstKolom {
    width: 20%;
  }
  .TariefDataEditKolom {
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    max-width: 300px;
  }
  
  select {
    position: relative;
    width: 100%;
    max-width: 316px;
    background-image: image-url('icons/dropdown-arrow.png');
    background-position: 94% 60%;
    background-size: 10%;
    background-repeat: no-repeat;
    -webkit-appearance: none;
  }

  input[type="submit"] {
    min-width: 140px;
    margin: 10px 0;
    border: 0;
    background-color: #ff0037;
    font-family: $tu-font-regular;
    font-size: 1em;
    color: #fff;
    padding: 10px 15px 8px 15px;
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    transition: background-color 250ms;
    
    &:hover,
    &:focus {
      background-color: #ff4f75;
    }
    
    &.formbutton_nomargin {
      margin-top: 4px;
      margin-left: 20px;
    }
  }
  
  .linkAsButton {
    float: left;
    cursor: pointer;
    text-align: center;
    line-height: 55px;
    margin-left: 20px;
    color: #000;
  }
  
  a {
    color: #ff0037;
    text-decoration: underline;
    outline: none;
    
    &:hover,
    &:focus {
      color: #000;
    }
  }
}

// Shoppingcart

#ctl00_ContentCenter_ShoppingCart1_divShoppingCart {
  
  tr:last-child {
    border-top: 2px solid #ddd;
  }
  
  td {
    padding: 10px 0;
  }
}

#footer {
  display: none;
}
