#logo,
.wufoo .info,
.wufoo .paging-context,
form span.req {
  display: none !important;
}

form.wufoo {
  padding: 30px 40px;
}

#container {
  background: #ddd;
  border: 0;
}

.embed #container {
  background: #ddd !important;
}

.wufoo label.desc,
.wufoo legend.desc {
  color: #999;
  font-size: 14px;
  text-transform: uppercase;
}

form li {
  padding: 0;
  margin-bottom: 20px;
}

.wufoo input.text,
.wufoo textarea.textarea,
.wufoo input.file {
  font-family: inherit;
  border: 0;
  width: 100%;
  line-height: 44px;
  box-shadow: none;
  background: #fff;
  font-size: 16px;
  padding: 0 15px;
  box-sizing: border-box;

  &:focus {
    outline: 0;
  }
}

.wufoo li div,
.wufoo li span,
.wufoo li div label,
.wufoo li span label {
  color: #999;
}

form li.buttons input {
  background-color: #ff0037;
  color: #fff;
  padding: 0 20px;
  line-height: 44px;
  border: 0;
  outline: 0;
  text-transform: uppercase;
  font-size: 16px;
  float: right;

  &:hover {
    background-color: #ff4f75;
    cursor: pointer;
  }
}

form li.buttons {
  padding: 0;
}

.wufoo li.focused {
  background-color: transparent;
}

input.checkbox {
  border-radius: 0;
  display: block;
  -webkit-appearance: none;
  background: #fff;

  &:focus {
    outline: none;
  }

  &:checked {
    background: #ff0037;
    box-shadow: inset 0 0 0 2px #fff;
  }
}

/** Errors **/
// These errors all include !important, so unfortunately these have to be overwritten with !imporant

form li.error {
  background-color: transparent !important;
}

form li.error p.error {
  margin-bottom: 20px !important;
}

#errorLi,
.error-container {
  background-color: transparent !important;
  border: 0 !important;
}

#errorMsg b {
  background-color: transparent !important;
  padding: 0 !important;
}
