.breadcrumbs {
  position: absolute;
  z-index: 30;
  top: 75px;
  left: 0;
  
  ul {
    padding: 0;
    margin: 0;
    
    li, li a {
      list-style: none;
      float: left;
      color: $tu-red-light;
      font-size: 14px;
      padding: 0 4px 0 1px;
    }
    
    a {
      text-decoration: none;
    }
    
    a:hover {
      text-decoration: underline;
    }
    
    li:last-child {
      text-decoration: underline;
    }
  }
}