.button {
  min-width: 200px;
  @extend %tu-font-bold;
  background-color: #fff;
  color: $tu-red-light;
  padding: 10px 25px;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  height: 44px;
  border-radius: 0;
  transition: background-color 250ms ease-in-out;

  @media (min-width: $screen-md) {
    font-size: 20px;
    line-height: 34px;
    padding: 5px 20px 5px 20px;
  }
  
  &:hover {
    background-color: darken($tu-grey-light, 20%);
    color: $tu-red-light;
    text-decoration: none;
  }
  
  &.red {
    background-color: $tu-red-light;
    color: #fff;
    font-size: 12px;
    line-height: 29px;
    height: 36px;
    padding: 4px 4px 4px 4px;
    min-width: 110px;
    
    &.ticketbutton {
      line-height: 14px;
      width: 92px;
      min-width: 0;
    }
    
    &.newsletter {
      height: 44px;
    }
    
    @media (min-width: $screen-sm) {
      &.ticketbutton {
        line-height: 29px;
        min-width: 140px;
      }
    }
    
    @media (min-width: $screen-md) {
      min-width: 140px;
      height: 44px;
      font-size: 14px;
      padding: 10px 25px 8px 25px;
      
      &.ticketbutton {
        min-width: 200px;
      }
      
      &.newsletter {
        font-size: 14px;
      }
    }
    
    @media (min-width: $screen-lg) {
      
    }
    
    &:hover{
      background-color: #ff4f75;
      color: #fff;
    }
  }
  
  &.black {
    background-color: #000;
    color: #fff;
    font-size: 14px;
    
    &:hover{
      background-color: lighten(#000, 20%);
      color: #fff;
    }
  }
  
  &.disabled {
    background-color: lighten(#000, 80%);
    color: #333;
    font-size: 10px;
    line-height: 29px;
    height: 36px;
    padding: 4px 4px 4px 4px;
    min-width: 110px;
    display: none;
    
    @media (min-width: $screen-md) {
      display: block;
      min-width: 200px;
      height: 44px;
      font-size: 14px;
      padding: 10px 25px 8px 25px;
    }
  }
  
  &.small {
    min-width: 85px;
    font-size: 14px;
    line-height: 20px;
    padding: 2px 7px;
    min-height: 25px;
    height: 25px;
  }
  
  &.social {
    width: 24%;
    height: 52px;
    min-width: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 50px;
    fill: #000;
    transition: fill 500ms;
    
    svg {
      width: 40px;
      height: 40px;
    }
    
    &.facebook {
      width: 15%;
      
      &:hover {
        fill: #3b5998;
      }
    }
    
    &.twitter {
      width: 15%;
      
      &:hover {
        fill: #2aa9e0;
      }
    }
    
    &.youtube {
      &:hover {
        fill: #e92a1d;
      }
      
      svg {
        width: 80px;
      }
    }
    
    &.spotify {
      &:hover {
        fill: #79b842;
      }
      
      svg {
        width: 80px;
      }

    }
    
    &.small {
      width: 40px;
      margin-top: -6px;
      margin-right: 15px;
      background-size: 35px;
    }
    
    &:hover {
      background-color: rgba(0,0,0, 0);
    }
  }
}

.playbutton {
  display: none;
  width: 130px;
  height: 130px;
  position: absolute;
  background-image: image-url('icons/play_video.png');
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  left: 50%;
  margin-left: -65px;
  z-index: 40;
  top: 50%;
  transform: translateY(-50%);
  transition: opacity 500ms;
  
  @media (min-width: $screen-sm) {
    display: block;
  }
  
  &:hover {
    opacity: 0.6;
  }
  
  &.small {
    width: 72px;
    height: 72px;
    float: left;
    position: absolute;
    background-image: image-url('icons/play.png');
    right: 0;
    left: 98%;
    background-repeat: no-repeat;
    background-size: 36px;
    background-position: 50% 50%;
    cursor: pointer;
    transition: opacity 250ms;
    
    .pause-audio & {
      background-image: image-url('icons/pause.png');
    }
    
    .play-audio & {
      background-image: image-url('icons/play.png');
    }
    
    .loading & {
      background-image: image-url('ajax-loader.gif');
      background-size: 20px;
    }

    &:hover {
      opacity: 0.4;
    }
  }
}

.button-more {
  font-size: 1.1667em;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
  color: #000;
  cursor: pointer;
  
  &:hover {
    color: $tu-red-light;
  }
}