.crewmembers {
  position: relative;
}

.crewmembers-container {
  background: $tu-grey-light;
  position: relative;
  height: 340px;
  margin: 35px 0 35px;
  padding: 30px 0;
  overflow: hidden;
  
  p {
    margin: 0;
    font-size: 1em;
  
    &.name {
      margin-top: 10px;
    }
  }
  
  a {
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }
}

.crew-content {
  height: 100%;
  position: absolute;
  z-index: 10;
}

.member-image {
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: 50% 50%;
}

.slider-button-container {
  position: absolute;
  width: 65px;
  height: 100%;
  top: 0;
  z-index: 20;
  
  .slider-button {
    position: relative;
    width: 65px;
    height: 65px;
    top: 42%;
    border-radius: 65px;
    background-color: $tu-grey-light;
    background-size: 18px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
    transform: translateY(-50%);
    transition: background-color 250ms;
  }
  
  &.left {
    left: -15px;
    
    .slider-button {
      background-image: image-url('icons/arrow_left.png');
      background-position: 30px;
    }
  }
  
  &.right {
    right: -15px;
    
    .slider-button {
      background-image: image-url('icons/arrow_right.png');
      background-position: 17px;
    }
  }
}

.slider-container {
  position: relative;
  height: 250px;
  transition: transform 500ms;
}

.slider-item-container {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0 15px;
  z-index: 10;
}

.slider-item {
  height: 85%;
  display: inline-block;
  position: relative;
  text-align: center;


}
