.header {
  position: fixed;
  width: 100%;
  height: 104px;
  z-index: 50;
  top: 0;
  transition: background-color 250ms;
  
  &.active {
    background-color: $tu-grey-light;
    height: 60px;
    
    a {
      color: #000;
      
      &:hover {
        color: $tu-red-light;
      }
    }
    
    .logo {
      bottom: 10px;
      
      img {
        height: 98px;
      }
    }
    
    .wordbrand {
      line-height: 60px;
      
      img {
        height: 13px;
      }
    }
    
    ul {
      margin: 0;
    }
    
    li {
      &.active {
        a {
          color: $tu-red-light;
        }
      }
    }
  }
}

nav {
  padding: 0;
  
  @media (min-width: $screen-md) {
    padding: 0 90px;
  }
  
  
  .logo {
    img {
      height: 120px;
      top: 12px;
      position: absolute;
      right: 20px;
      
      @media (min-width: $screen-md) {
        right: 90px;
      }
    }
  }
  
  .wordbrand {
    float: left;
    position: absolute;
    line-height: 110px;
    
    img {
      margin-right: 30px;
      height: 15px;
    }
  }
  
  ul {
    position: absolute;
    left: 290px;
    top: 0;
    margin: 0;
    margin-top: 24px;
    line-height: 60px;
  }
  
  li {
    float: left;
    transition: color 250ms;
    
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: #fff;
      font-size: 1em;
      transition: color 250ms;
    }
    
    &:hover {
      color: $tu-red-light;
      
      a {
        color: $tu-red-light;
        text-decoration: none;
      }
    }
  }
}
.large-menu {
  ul {
    width: 100%;
  }
  
  li {
    padding: 0 1%;
  }
}