@keyframes animateOverlay {
  0% {
    opacity: 1;
    width: 0;
  }
}

@keyframes fadeInProductioninfo {
  0% {
    opacity: 0;
    margin-left: -20px;
    visibility: hidden;
  }
  
  100% {
    opacity: 1;
  }
}

@keyframes animateArrow {
  0% {
    bottom: 10px;
  }
  
  25% {
    bottom: 30px
  }
  
  50% {
    bottom: 10px
  }
  
  75% {
    bottom: 30px;
  }
}

@keyframes animatePreloader {
  0% {
    transform: rotate(0deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

.production-container {

  a, a:hover {
    text-decoration: none;
  }
  
  h1 {
    color: $tu-red-light;
    margin: 0;
    font-size: 4.5em;
    @extend %tu-font-bold;
    @include adjust-leading-to(0.5);
    
    @media (min-width: $screen-xs) {
      font-size: 5em;
    }
  }
  
  h2 {
    @extend %tu-font-regular;
    line-height: 80px;
    margin: 0;
  }
  
  &.small-productions {
    margin-top: 20px;
    
    @media (min-width: $screen-sm) {
      margin-top: 60px;
    }
  }
}

.container-featured {
  height: 75%;
  min-height: 500px;
  
  .row {
    overflow: visible;
  }
  
  @media (min-width: $screen-md) {
    height: 100%;
    min-height: 900px;
  }
}

.video {
  transition: opacity 500ms;
}

.production-featured {
  padding-top: 100px;
  background-size: cover;
  background-position: 50% 50%;
  
  @media (min-width: $screen-sm) {
    padding-top: 220px;
  }
  
  .production-info {
    opacity: 0;
    visibility: visible;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: opacity 250ms;
    animation: fadeInProductioninfo 1s both 1.7s;
  }
  
  h1 {
  }
  
  h2 {
    font-size: 2em;
    @extend %tu-font-regular;
    color: #fff;
    margin-bottom: 25px;
    line-height: 34px;
  }
  
  .homepage-video {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 900px;
    overflow: hidden;
    top: 0;
    left: 0;
    display: none;
  }
  
  .tickets {
    display: none;
  }
    
  @media (min-width: $screen-md) {
    .h264 & .homepage-video {
      display: block;
    }
    
    .tickets {
      display: block;
    }
  }
  
  video {
    position: absolute;
    left: 50%;
    top: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    display: block;
  }
  
  .overlay {
    z-index: 0;
    opacity: 1;
    border-radius: 0px;
    transition: opacity 5000ms;
    animation: animateOverlay 1s both 1.0s;
  }
  
  .tickets {
    opacity: 0;
    transition: opacity 250ms;
    animation: fadeInProductioninfo 1s both 2.2s;
  }
}

.production {
  height: 300px;
  position: relative;
  
  @media (min-width: $screen-sm) {
    height: 440px;
  }
  
  .content {
    padding: 20px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    height: 100%;
    z-index: 2;
    
    @media (min-width: $screen-xs) {
      padding: 40px;
    }
    
    .buttons {
      position: absolute;
      bottom: 40px;
      z-index: 20;
    }
  }
  
  h1 {
    margin-bottom: 10px;
  }
  
  h2 {
    font-size: 2em;
    @include adjust-leading-to(0.75);
    color: #fff;
  }
  
  .production-info {
    z-index: 20;
    
    h2 {
      
    }
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(0deg);
    transition: background 500ms;
  }
}

.production-small {
  .runtime {
    margin-top: 0;
  }
  
  &:hover {
    .overlay {
        background: rgba(0,0,0, 0);
    }
  }
  
  .production-info {
    h2 {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: none;
    
      @media (min-width: $screen-md) {
        display: block;
      }
    }
  }
}

.runtime {
  @extend %tu-font-heavy;
  font-size: 1.43em;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.tickets {
  opacity: 1;
  margin-top: 160px;

  .red {
    min-width: 0;
  }
  
  p {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.43em
  }
}

.arrow {
  position: absolute;
  width: 72px;
  height: 72px;
  left: 50%;
  bottom: 10px;
  margin-left: -36px;
  background-image: image-url('icons/arrow_down.png');
  background-repeat: no-repeat;
  background-size: 38px;
  background-position: 50% 50%;
  border: 4px solid #fff;
  border-radius: 200px;
  cursor: pointer;
  transform: translateY(-50%);
  transition: top 500ms;
  animation: animateArrow 1s both 4.5s;
  opacity: 1;
  display: none;
  
  @media (min-width: $screen-sm) {
    display: block;
  }
}
