.image-slider-album {
  position: relative;
}

.image-slider-media {
  background: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
  &.no-top-margin {
    margin-top: 0;
  }
}

.image-slider-media-images {

  // Royalslider customization

  .rsSlide {
    img {
      width: 100%;
    }
  }
  
  img {
    max-width: 100%;
  }
  
  .rsThumb {
    
  }

  .rsThumbs {
    width: 100%;
    background: #fff;
    padding-top: 10px;

    .rsNavSelected {
      border-bottom: 2px solid #000;
    }
  }

  .rsThumbsContainer {
    margin: 0 auto;
  }

  .rsArrow {
    position: absolute;
    width: 36px;
    height: 60px;
    top: 50%;
    left: 20px;
    margin-top: -50px;
    background-image: image-url('icons/arrow-left-red.png');
    background-size: 50%;
    background-repeat: no-repeat;
    transition: opacity 200ms, transform 200ms;
    
    @media (min-width: $screen-xs) {
      background-size: 100%;
      transform: translateY(-50%);
    }
  }

  .rsArrowDisabled {
    transform: translateX(-100%);
    opacity: 0;
  }

  .rsArrowRight {
    right: 0;
    left: auto;
    background-image: image-url('icons/arrow-right-red.png');
    
    @media (min-width: $screen-xs) {
      right: 20px;
    }

    &.rsArrowDisabled {
      transform: translateX(100%);
    }
  }
}

.image-slider-media-slide {
  line-height: 0;
}

.image-slider-media-thumbnail {
  width: 130px;
  padding: 0 0 4px;
  line-height: 0;
}

.image-slider-media-video {
  padding: 20px;
}

.image-slider-buttons {
  margin-top: 40px;

  .button {
    margin-bottom: 5px;
  }

}