// Mobile navigation

.large-menu {
  display: none;
  
  @media (min-width: $screen-md) {
    display: block;
  }
}

.burger-container {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 60px;
  height: 30px;
}

.burger {
  position: relative;
  padding: 0;
  margin: 0;

  .bun,
  .patty {
    position: absolute;
    width: 60px;
    height: 6px;
    background-color: $tu-red-light;
    list-style: none;
    transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  }

  .bun {
    &:first-child {
      top: 0;
//    transform-origin: 0 0;
      transform: rotate(0deg);
    }

    &:last-child {
      top: 24px;
//    transform-origin: 0 100%;
      transform: rotate(0deg);
    }
  }

  .patty {
    top: 12px;
    opacity: 1;
  }

  .opened & {
    .bun {
      &:first-child {
        transform: rotate(45deg);
      }

      &:last-child {
        transform: rotate(-45deg);
      }
    }

    .patty {
      opacity: 0;
    }
  }
}

.menu-text {
  color: $tu-red-light;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  left: 92px;
  top: 0px;
}

.mobile-menu {
  position: absolute;
  display: block;
  width: 100%;
  min-height: 0%;
  height: 0px;
  background: $tu-grey-light;
  overflow: hidden;
  font-size: 12px;
  text-align: center;
  left: 0;
  transition: min-height 300ms ease-in-out, height 300ms ease-in-out;
  
  .header {
    height: 60px;
    overflow: hidden;
    transition: min-height 300ms ease-in-out, height 300ms ease-in-out;
  }
  
  .navigation {
    width: 100%;
    height: 100%;
    left: 0;
    padding: 0;
  }
  
  .nav-mobile {
    position: absolute;
    height: 70px;
    width: 161px;
    top: 0;
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    transition: opacity 250ms ease-in-out 200ms;
  }
  
  .logo {
    position: fixed;
    width: 130px;
    height: 136px;
    top: 0;
    right: 0;
    z-index: 70;
    visibility: visible;
    opacity: 1;
    transition: opacity 250ms ease-in-out 200ms;
    
    img {
      height: 60px;
      top: 30px;
      position: absolute;
      right: 20px;
      
      @media (min-width: $screen-md) {
        right: 90px;
      }
      
      @media (min-width: $screen-sm) {
        height: 96px;
        top: 12px;
      }
    }
  }
  
  nav {
    padding-top: 45px;

    
    .wordbrand {
      float: none;
      position: relative;
      margin-top: 60px;
      
      img {
        height: 17px;
        margin: 0;
      }
    }
    
    .close-btn {
      width: 100px;
      height: 120px;
      margin: 0 auto;
      cursor: pointer;
    }
    
    .close {
      font-weight: 600;
      font-size: 14px;
      position: absolute;
      text-transform: uppercase;
      color: $tu-red-light;
      margin-top: 60px;
      margin-bottom: 60px;
      
      .cross-1,
      .cross-2 {
        display: block;
        position: absolute;
        width: 60px;
        height: 6px;
        background: $tu-red-light;
        top: 0;
        left: 20px;
      }
      
      .cross-1 {
        transform: rotate(-45deg);
      }
      
      .cross-2 {
        transform: rotate(45deg);
      }
      
      p {
        position: absolute;
        left: 17px;
        top: 20px;
      }
    }
  }
  
  nav
  ul {
    position: relative;
  }
  
  li {
    float: none;
    padding: 0 10px;
    
    &:hover {
      color: $tu-red-light;
      
      a {
        color: $tu-red-light;
        text-decoration: none;
      }
    }
  }
  
  &.active {
    height: 100%;
    min-height: 100%;
    
    .header {
      height: 100%;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
    }
    .logo {
      visibility: hidden;
      opacity: 0;
    }
    
    .nav-mobile {
      visibility: hidden;
      opacity: 0;
    }
  }
  
  @media (min-width: $screen-md) {
    display: none;
  }
}