.grey-container,
.newsletter-container {
  margin-bottom: 20px;
  padding: 30px 40px;
  background-color: #dddddd;
  
  h2 {
    @include adjust-font-size-to(24px);
    line-height: 40px;
    margin-top: 0;
    padding: 0;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    height: 44px;
    padding-left: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    border: 0;
    outline: none;
    line-height: 44px;
    font-weight: 600;
    border-radius: 0;
    @include adjust-font-size-to(14px);
  }
  
  .error{
    color: $tu-red-dark;
  }
  
  .success-message{
    display:none;
  }
  
  .disclaimer {
    margin-top: 65px;
    margin-bottom: 0;
  }

  .button {
    width: 140px;
    min-width: 0;
    border: 0;
    padding: 10px 15px 8px 15px;
    outline: none;
    -webkit-appearance: none;
  }
}

.newsletter-on-page {
  .newsletter-container {
    background-color: #fff;
  }
  input[type="text"],
  input[type="email"] {
    background-color: #dddddd;
  }
}