.header-container {
  &.production-featured {
    height: 600px;
    padding-top: 30px;
    
    h1 {
      margin: 30px 0; 
      position: relative;
      font-size: 6.667em;
      @include adjust-leading-to(0.45);
      
      @media (min-width: $screen-sm) {
        font-size: 5.33em;
      }
    
      @media (min-width: $screen-md) {
        font-size: 6em;
        @include adjust-leading-to(0.45);
      }
      @media (min-width: $screen-lg) {
        font-size: 7em;
        @include adjust-leading-to(0.45);
      }
    }
    
    h2 {
      margin-top: -5px;
    }
    
    .runtime {
      margin-top: 160px;
      margin-bottom: -24px;
    }
  }
}
  
.production-video {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
  
  video {
    display: none;
    
    @media (min-width: $screen-md) {
      display: block;
    }
  }
  
  
  .spacer {
    height: 600px;
  }
}

video {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  display: block;
}