.share-container {
  padding: 30px 0;
  margin-top: 60px;
  border-top: 1px solid #000;
  
  .intro {
    float: left;
    font-size: 1.33em;
    font-weight: 600;
    margin-right: 15px;
    width: 100%;
    
    @media (min-width: $screen-xs) {
      width: auto;
    }
    p {
      margin: 0;
    }
  }
  
  .button.social {
    $size: 40px;
    display: inline-block;
    line-height: $size;
    font-size: 1.2em;
    color: #fff;
    height: $size;
    width: auto;
    padding: 2px 20px 0 43px;
    margin-top: 15px;
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: 8px 50%;
    transition: background 300ms ease-in-out;
    &.facebook{
      background-color: #3b5998;
      background-image: url('/images/icons/facebook-logo.svg');
      &:hover {
        background-color: darken(#3b5998, 10%);
      }
    }
    &.twitter{
      background-color: #00aced;
      background-image: url('/images/icons/twitter-logo.svg');
      &:hover {
        background-color: darken(#00aced, 10%);
      }
    }
    &:hover{
      text-decoration: none;
    }
  }
  
  @media (min-width: $screen-xs) {
    .button.social {
      margin-top: -6px;
    }
  }
}