.carousel {
  position: relative;
  width: 100%;
  height: 80px;
  overflow: hidden;
}

.carousel-container {
  position: relative;
  height: 80px;
}

.carousel-item-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  transition: transform 1500ms ease-in-out;
}

.carousel-item {
  display: inline-block;
  position: relative;
  word-wrap: break-word;
}
// Carousel styling

.cd-title {
	position: relative;
	height: 160px;
	line-height: 230px;
	text-align: center;

	h1 {
		font-size: 2.4rem;
		font-weight: 700;
	}

	@media (min-width: $screen-sm) {
		line-height: 250px;
	}

	@media (min-width: $screen-lg) {
		height: 200px;
		line-height: 300px;

		h1 {
			font-size: 3rem;
		}
	}
}

.cd-intro {
	width: 90%;
	text-align: left;
}

.cd-headline {
	font-size: 3rem;
	line-height: 1.2;

	@media (min-width: $screen-sm) {
		font-size: 4.4rem;
		font-weight: 300;
	}

	@media (min-width: $screen-lg) {
		font-size: 6rem;
	}
}

.cd-words-wrapper {
	display: inline-block;
	position: relative;
	text-align: left;

	b {
		display: inline-block;
		position: absolute;
		white-space: nowrap;
		left: 0;
		top: 0;

		&.is-visible {
			position: relative;
		}
	}

	.no-js & b {
		opacity: 0;
		
		&.is-visible {
			opacity: 1;
		}

	}
}

/* -------------------------------- 

xrotate-2 

-------------------------------- */

.cd-headline.rotate-2 {

	.cd-words-wrapper {
		perspective: 300px;
	}

	i, em {
		display: inline-block;
		backface-visibility: hidden;
    font-style: normal !important;
    font-weight: 400;
	}

	i {
		transform-style: preserve-3d;
		transform: translateZ(-20px) rotateX(90deg);
		opacity: 0;

		.is-visible & {
			opacity: 1;
		}

		&.in {
			animation: cd-rotate-2-in .4s forwards;
		}

		&.out {
			animation: cd-rotate-2-out .4s forwards;
		}
	}

	em {
		transform: translateZ(20px);
	}
}

.no-csstransitions .cd-headline.rotate-2 i {
	transform: rotateX(0deg);
	opacity: 0;

	em {
		transform: scale(1);
	}
}

.no-csstransitions .cd-headline.rotate-2 .is-visible i {
	opacity: 1;
}

@keyframes cd-rotate-2-in {
	0% {
		opacity: 0;
		transform: translateZ(-20px) rotateX(90deg);
	}

	60% {
		opacity: 1;
		transform: translateZ(-20px) rotateX(-10deg);
	}

	100% {
		opacity: 1;
		transform: translateZ(-20px) rotateX(0deg);
	}
}

@keyframes cd-rotate-2-out {
	0% {
		opacity: 1;
		transform: translateZ(-20px) rotateX(0);
	}

	60% {
		opacity: 0;
		transform: translateZ(-20px) rotateX(-100deg);
	}

	100% {
		opacity: 0;
		transform: translateZ(-20px) rotateX(-90deg);
	}
}
