.block {
  margin-bottom: 12px;

  @media (min-width: $screen-xs) {
    margin-bottom: 24px;
  }
}

.text-block {
  background: $tu-red-light;
  padding: 30px;
  height: 580px;
  position: relative;
  
  @media (min-width: $screen-md) {
    height: 520px;
  }
  
  .text-content {
    max-height: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    
    @media (min-width: $screen-xs) {
      max-height: 330px;
    }
    
    @media (min-width: $screen-lg) {
      max-height: 280px;
    }
  }
  
  h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #000;
    line-height: 70px;
    font-size: 4.2em;
    @include adjust-leading-to(0.5);
  }
  
  p {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: 1.33em;
    
    &.social-buttons {
      display: none;
      float: left;
      margin: 0 10px;
      @include adjust-leading-to(1);
      
      @media (min-width: $screen-sm) {
        display: block;
        line-height: 45px;
      }
    }
  }
  
  .text-options {
    position: absolute;
    width: 100%;
    left: 16px;
    bottom: 16px;
  }
  
  .social-icons {
    display: none;
    @include adjust-leading-to(2);
    
    a {
      padding: 0 3px;
      
      svg {
        width: 30px;
        height: 30px;
      }
    }

    a.youtube,
    a.spotify, {
      padding-left: 0;
      svg {
        width: 60px;
      }
    }
    
    @media (min-width: $screen-xs) {
      display: block;
    }
  }
  
  .button.black {
    float: left;
    margin-right: 20px;
  }
    
  .intro {
    @extend %tu-font-bold;
  }
  
  h2 {
    @extend %tu-font-heavy;
    font-size: 2em;
    color: #fff;
    margin-top: 24px;
    margin-bottom: 5px;
    line-height: 24px;
  }
}

.showtimes-block {
  float: left;
  width: 100%;
  height: 400px;
  padding: 15px;
  background: $tu-yellow-light;
  font-size: 1.33em;
  
  @media (min-width: $screen-sm) {
    padding: 30px;
    height: 520px;
    
    a.caplink {
      font-size: 0.9em;
    }
  }
  
  h1 {
    font-size: 2.6em;
    
    a {
      text-transform: uppercase;
      text-decoration: underline;
      color: $tu-red-light;
      line-height: 30px;
      margin-top: 30px;
      margin-bottom: 30px;
    
      &:hover {
        text-decoration: underline;
        color: #000;
      }
    }
  }
  
  p {
    margin: 0;
    padding: 0;
  }

  .showtime {
    display: table;
    table-layout: fixed;
    padding: 20px 0;
    width: 100%;
    border-bottom: 1px solid #000;
  }

  .date,
  .details,
  .tickets {
    display: table-cell;
    box-sizing: content-box;
  }

  .date {
    padding: 0 10px;
    width: 40px;
    text-transform: uppercase;
    text-align: center;
    border-right: 1px solid #000;
  }
  
  .details {
    padding-left: 12px;
    width: 100%;
  }

  .title,
  .time-and-location {
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .tickets {
    width: 100px;
    text-align: right;
    vertical-align: middle;
  }
  
  a.caplink {
    float: left;
    margin-top: 34px;
    font-size: 0.9em;
  }
}