.button.ticketbutton {
  position: relative;
  min-width: 235px;
  
  .showtime {
    visibility: visible;
    opacity: 1;
    transition: color 750ms;
  }
  
  .showtime-info-container {
    visibility: hidden;
    opacity: 0;
  }
  
  .showtime-info-container {
    height: 1px;
    min-width: 235px;
    padding: 25px;
    text-align: left;
    font-size: 16px;
    text-transform: none;
    position: absolute;
    background-color: #fff;
    overflow: hidden;
    top: 0;
    left: 0;
    transition: all 350ms;
    
    p {
      color: #000;
      text-transform: none;
      margin: 10px 0;
      font-size: 20px;
    }
    
    .date {
      color: $tu-red-light;
      font-size: 24px;
    }
    
    .buy {
      margin: 20px auto;
      float: left;
      width: 100%;
      min-width: 0;
      cursor: pointer;
    }
  }
  
  &:hover {
    .showtime {
      visibility: hidden;
      opacity: 0;
      color: #fff;
    }
    
    .showtime-info-container {
      height: 246px;
      visibility: visible;
      opacity: 1;
      top: -92px;
    }
  }
}