html {
  font-family: "ff-mark-web";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 10px;
}

@media (min-width: 480px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

body {
  color: #000;
  background-color: #ffffff;
}

a {
  color: #000;
  text-decoration: none;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

a:hover,
a:focus {
  color: #ff0037;
  text-decoration: underline;
  outline: none;
}

#header,
#content,
#footer {
  margin: 0 auto;
  font-size: 1em;
  padding: 0 20px;
}

@media (min-width: 480px) {
  #header,
  #content,
  #footer {
    padding: 0 50px;
  }
}

@media (min-width: 768px) {
  #header,
  #content,
  #footer {
    padding: 0 150px;
  }
}

#header .titelbalk,
#content .titelbalk,
#footer .titelbalk {
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: 30px;
}

#usermenu div {
  width: 100%;
}

#usermenu .menuitem {
  width: 50%;
  float: left;
  text-align: center;
  text-transform: uppercase;
}

#usermenu .menuitem:last-child {
  display: none;
}

#usermenu .menuitem a {
  display: block;
  margin: 30px;
  padding-bottom: 30px;
  border-bottom: 2px solid #ddd;
}

#usermenu .menuitem:first-child a {
  margin-left: 0;
}

#usermenu .menuitem:nth-child(2) a {
  margin-right: 0;
}

#main {
  display: inline-block;
  width: 100%;
  float: right;
}

#main div {
  margin: 10px 0;
}

#main table {
  width: 100%;
}

#main th {
  padding: 0;
  text-align: left;
}

#main td {
  text-align: left;
  padding: 0;
}

#main .LabelColumn {
  display: block;
  line-height: 46px;
}

#main .divDetails {
  margin-bottom: 15px;
}

#main .divDetails span {
  font-size: 1.5em;
  font-weight: 600;
}

#main input[type=text],
#main input[type=password],
#main select {
  width: 100%;
  min-width: 200px;
  height: 44px;
  margin-bottom: 15px;
  padding-left: 15px;
  background-color: #ddd;
  border: 0;
  outline: none;
  font-family: "ff-mark-web";
  font-size: 0.8em;
  font-weight: 400;
  border-radius: 0;
  font-size: convert-length(convert-length(14px, px, 12px), "em", 12px);
  line-height: rhythm(lines-for-font-size(convert-length(14px, px, 12px)), convert-length(14px, px, 12px));
}

#main input[type=text].TariefsmallTextBox,
#main input[type=password].TariefsmallTextBox,
#main select.TariefsmallTextBox {
  width: 20%;
}

#main .TariefEerstKolom {
  width: 20%;
}

#main .TariefDataEditKolom {
  margin-top: 10px;
}

#main input[type=text],
#main input[type=password] {
  max-width: 300px;
}

#main select {
  position: relative;
  width: 70%;
  max-width: 316px;
  background-image: image-url("icons/dropdown-arrow.png");
  background-position: 94% 60%;
  background-size: 10%;
  background-repeat: no-repeat;
  -webkit-appearance: none;
}

#main input[type=submit] {
  min-width: 140px;
  margin: 10px 0;
  border: 0;
  background-color: #ff0037;
  font-family: "ff-mark-web";
  font-size: 1em;
  color: #fff;
  padding: 10px 15px 8px 15px;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
}

#main input[type=submit]:hover,
#main input[type=submit]:focus {
  background-color: #ff4f75;
}

#main input[type=submit].formbutton_nomargin {
  margin-top: 4px;
  margin-left: 20px;
}

#main .linkAsButton {
  float: left;
  cursor: pointer;
  text-align: center;
  line-height: 55px;
  margin-left: 20px;
  color: #000;
}

#main a {
  color: #ff0037;
  text-decoration: underline;
  outline: none;
}

#main a:hover,
#main a:focus {
  color: #000;
}

#ctl00_ContentCenter_ShoppingCart1_divShoppingCart tr:last-child {
  border-top: 2px solid #ddd;
}

#ctl00_ContentCenter_ShoppingCart1_divShoppingCart td {
  padding: 10px 0;
}

#content {
  position: relative;
  padding: 0 20px;
  font-size: 1.25em;
}

@media (min-width: 480px) {
  #content {
    padding: 0 50px;
  }
}

@media (min-width: 768px) {
  #content {
    padding: 0 150px;
  }
}

#footer {
  display: none;
}

