html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.hidden {
  display: none !important;
}

.affix {
  position: fixed;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container:before,
.container:after {
  display: table;
  content: " ";
}

.container:after {
  clear: both;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid:before,
.container-fluid:after {
  display: table;
  content: " ";
}

.container-fluid:after {
  clear: both;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row:before,
.row:after {
  display: table;
  content: " ";
}

.row:after {
  clear: both;
}

.row-no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row-no-gutters [class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col-xs-1,
.col-sm-1,
.col-md-1,
.col-lg-1,
.col-xs-2,
.col-sm-2,
.col-md-2,
.col-lg-2,
.col-xs-3,
.col-sm-3,
.col-md-3,
.col-lg-3,
.col-xs-4,
.col-sm-4,
.col-md-4,
.col-lg-4,
.col-xs-5,
.col-sm-5,
.col-md-5,
.col-lg-5,
.col-xs-6,
.col-sm-6,
.col-md-6,
.col-lg-6,
.col-xs-7,
.col-sm-7,
.col-md-7,
.col-lg-7,
.col-xs-8,
.col-sm-8,
.col-md-8,
.col-lg-8,
.col-xs-9,
.col-sm-9,
.col-md-9,
.col-lg-9,
.col-xs-10,
.col-sm-10,
.col-md-10,
.col-lg-10,
.col-xs-11,
.col-sm-11,
.col-md-11,
.col-lg-11,
.col-xs-12,
.col-sm-12,
.col-md-12,
.col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  float: left;
}

.col-xs-1 {
  width: 8.3333333333%;
}

.col-xs-2 {
  width: 16.6666666667%;
}

.col-xs-3 {
  width: 25%;
}

.col-xs-4 {
  width: 33.3333333333%;
}

.col-xs-5 {
  width: 41.6666666667%;
}

.col-xs-6 {
  width: 50%;
}

.col-xs-7 {
  width: 58.3333333333%;
}

.col-xs-8 {
  width: 66.6666666667%;
}

.col-xs-9 {
  width: 75%;
}

.col-xs-10 {
  width: 83.3333333333%;
}

.col-xs-11 {
  width: 91.6666666667%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-pull-0 {
  right: auto;
}

.col-xs-pull-1 {
  right: 8.3333333333%;
}

.col-xs-pull-2 {
  right: 16.6666666667%;
}

.col-xs-pull-3 {
  right: 25%;
}

.col-xs-pull-4 {
  right: 33.3333333333%;
}

.col-xs-pull-5 {
  right: 41.6666666667%;
}

.col-xs-pull-6 {
  right: 50%;
}

.col-xs-pull-7 {
  right: 58.3333333333%;
}

.col-xs-pull-8 {
  right: 66.6666666667%;
}

.col-xs-pull-9 {
  right: 75%;
}

.col-xs-pull-10 {
  right: 83.3333333333%;
}

.col-xs-pull-11 {
  right: 91.6666666667%;
}

.col-xs-pull-12 {
  right: 100%;
}

.col-xs-push-0 {
  left: auto;
}

.col-xs-push-1 {
  left: 8.3333333333%;
}

.col-xs-push-2 {
  left: 16.6666666667%;
}

.col-xs-push-3 {
  left: 25%;
}

.col-xs-push-4 {
  left: 33.3333333333%;
}

.col-xs-push-5 {
  left: 41.6666666667%;
}

.col-xs-push-6 {
  left: 50%;
}

.col-xs-push-7 {
  left: 58.3333333333%;
}

.col-xs-push-8 {
  left: 66.6666666667%;
}

.col-xs-push-9 {
  left: 75%;
}

.col-xs-push-10 {
  left: 83.3333333333%;
}

.col-xs-push-11 {
  left: 91.6666666667%;
}

.col-xs-push-12 {
  left: 100%;
}

.col-xs-offset-0 {
  margin-left: 0%;
}

.col-xs-offset-1 {
  margin-left: 8.3333333333%;
}

.col-xs-offset-2 {
  margin-left: 16.6666666667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.3333333333%;
}

.col-xs-offset-5 {
  margin-left: 41.6666666667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.3333333333%;
}

.col-xs-offset-8 {
  margin-left: 66.6666666667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.3333333333%;
}

.col-xs-offset-11 {
  margin-left: 91.6666666667%;
}

.col-xs-offset-12 {
  margin-left: 100%;
}

@media (min-width: 768px) {
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }

  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-pull-0 {
    right: auto;
  }

  .col-sm-pull-1 {
    right: 8.3333333333%;
  }

  .col-sm-pull-2 {
    right: 16.6666666667%;
  }

  .col-sm-pull-3 {
    right: 25%;
  }

  .col-sm-pull-4 {
    right: 33.3333333333%;
  }

  .col-sm-pull-5 {
    right: 41.6666666667%;
  }

  .col-sm-pull-6 {
    right: 50%;
  }

  .col-sm-pull-7 {
    right: 58.3333333333%;
  }

  .col-sm-pull-8 {
    right: 66.6666666667%;
  }

  .col-sm-pull-9 {
    right: 75%;
  }

  .col-sm-pull-10 {
    right: 83.3333333333%;
  }

  .col-sm-pull-11 {
    right: 91.6666666667%;
  }

  .col-sm-pull-12 {
    right: 100%;
  }

  .col-sm-push-0 {
    left: auto;
  }

  .col-sm-push-1 {
    left: 8.3333333333%;
  }

  .col-sm-push-2 {
    left: 16.6666666667%;
  }

  .col-sm-push-3 {
    left: 25%;
  }

  .col-sm-push-4 {
    left: 33.3333333333%;
  }

  .col-sm-push-5 {
    left: 41.6666666667%;
  }

  .col-sm-push-6 {
    left: 50%;
  }

  .col-sm-push-7 {
    left: 58.3333333333%;
  }

  .col-sm-push-8 {
    left: 66.6666666667%;
  }

  .col-sm-push-9 {
    left: 75%;
  }

  .col-sm-push-10 {
    left: 83.3333333333%;
  }

  .col-sm-push-11 {
    left: 91.6666666667%;
  }

  .col-sm-push-12 {
    left: 100%;
  }

  .col-sm-offset-0 {
    margin-left: 0%;
  }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-sm-offset-3 {
    margin-left: 25%;
  }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-sm-offset-6 {
    margin-left: 50%;
  }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-sm-offset-9 {
    margin-left: 75%;
  }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-sm-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 992px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    float: left;
  }

  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-pull-0 {
    right: auto;
  }

  .col-md-pull-1 {
    right: 8.3333333333%;
  }

  .col-md-pull-2 {
    right: 16.6666666667%;
  }

  .col-md-pull-3 {
    right: 25%;
  }

  .col-md-pull-4 {
    right: 33.3333333333%;
  }

  .col-md-pull-5 {
    right: 41.6666666667%;
  }

  .col-md-pull-6 {
    right: 50%;
  }

  .col-md-pull-7 {
    right: 58.3333333333%;
  }

  .col-md-pull-8 {
    right: 66.6666666667%;
  }

  .col-md-pull-9 {
    right: 75%;
  }

  .col-md-pull-10 {
    right: 83.3333333333%;
  }

  .col-md-pull-11 {
    right: 91.6666666667%;
  }

  .col-md-pull-12 {
    right: 100%;
  }

  .col-md-push-0 {
    left: auto;
  }

  .col-md-push-1 {
    left: 8.3333333333%;
  }

  .col-md-push-2 {
    left: 16.6666666667%;
  }

  .col-md-push-3 {
    left: 25%;
  }

  .col-md-push-4 {
    left: 33.3333333333%;
  }

  .col-md-push-5 {
    left: 41.6666666667%;
  }

  .col-md-push-6 {
    left: 50%;
  }

  .col-md-push-7 {
    left: 58.3333333333%;
  }

  .col-md-push-8 {
    left: 66.6666666667%;
  }

  .col-md-push-9 {
    left: 75%;
  }

  .col-md-push-10 {
    left: 83.3333333333%;
  }

  .col-md-push-11 {
    left: 91.6666666667%;
  }

  .col-md-push-12 {
    left: 100%;
  }

  .col-md-offset-0 {
    margin-left: 0%;
  }

  .col-md-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-md-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-md-offset-3 {
    margin-left: 25%;
  }

  .col-md-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-md-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-md-offset-6 {
    margin-left: 50%;
  }

  .col-md-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-md-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-md-offset-9 {
    margin-left: 75%;
  }

  .col-md-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-md-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-md-offset-12 {
    margin-left: 100%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    float: left;
  }

  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-pull-0 {
    right: auto;
  }

  .col-lg-pull-1 {
    right: 8.3333333333%;
  }

  .col-lg-pull-2 {
    right: 16.6666666667%;
  }

  .col-lg-pull-3 {
    right: 25%;
  }

  .col-lg-pull-4 {
    right: 33.3333333333%;
  }

  .col-lg-pull-5 {
    right: 41.6666666667%;
  }

  .col-lg-pull-6 {
    right: 50%;
  }

  .col-lg-pull-7 {
    right: 58.3333333333%;
  }

  .col-lg-pull-8 {
    right: 66.6666666667%;
  }

  .col-lg-pull-9 {
    right: 75%;
  }

  .col-lg-pull-10 {
    right: 83.3333333333%;
  }

  .col-lg-pull-11 {
    right: 91.6666666667%;
  }

  .col-lg-pull-12 {
    right: 100%;
  }

  .col-lg-push-0 {
    left: auto;
  }

  .col-lg-push-1 {
    left: 8.3333333333%;
  }

  .col-lg-push-2 {
    left: 16.6666666667%;
  }

  .col-lg-push-3 {
    left: 25%;
  }

  .col-lg-push-4 {
    left: 33.3333333333%;
  }

  .col-lg-push-5 {
    left: 41.6666666667%;
  }

  .col-lg-push-6 {
    left: 50%;
  }

  .col-lg-push-7 {
    left: 58.3333333333%;
  }

  .col-lg-push-8 {
    left: 66.6666666667%;
  }

  .col-lg-push-9 {
    left: 75%;
  }

  .col-lg-push-10 {
    left: 83.3333333333%;
  }

  .col-lg-push-11 {
    left: 91.6666666667%;
  }

  .col-lg-push-12 {
    left: 100%;
  }

  .col-lg-offset-0 {
    margin-left: 0%;
  }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%;
  }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%;
  }

  .col-lg-offset-3 {
    margin-left: 25%;
  }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%;
  }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%;
  }

  .col-lg-offset-6 {
    margin-left: 50%;
  }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%;
  }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%;
  }

  .col-lg-offset-9 {
    margin-left: 75%;
  }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%;
  }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%;
  }

  .col-lg-offset-12 {
    margin-left: 100%;
  }
}

/* normalize-scss 3.0.0-alpha.2+normalize.3.0.0 | MIT/GPLv2 License | bit.ly/normalize-scss */

/* Base
   ========================================================================== */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined in IE 8/9. Correct `block` display
 * not defined on `summary` and `details` in IE and Firefox and on `main` in IE.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */

template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE, Safari 5, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2 em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 1em;
  margin-bottom: 1em;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Correct overflow displayed in IE.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0833333333em;
  border-top-style: solid;
  padding-top: 0.6166666667em;
  border-bottom-width: 0.0833333333em;
  border-bottom-style: solid;
  padding-bottom: 1.2166666667em;
  border-left-width: 0.0833333333em;
  border-left-style: solid;
  padding-left: 1.1666666667em;
  border-right-width: 0.0833333333em;
  border-right-style: solid;
  padding-right: 1.1666666667em;
}

/**
 * 1. Correct `color` not being inherited in IE.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.tile-news .date,
.production-featured h2,
.production-container h2 {
  font-family: "ff-mark-web";
  font-weight: 400;
}

a.caplink,
.tile-quote .text,
.tile-news .readmore,
.tile-news .title,
.tile-audio .title,
.ticketframe,
.text-block .intro,
.production-container h1,
.button {
  font-family: "ff-mark-web";
  font-weight: 700;
}

h3,
.text-block h2,
.runtime {
  font-family: "ff-mark-web";
  font-weight: 800;
}

html,
body {
  height: 100%;
}

img {
  max-width: 100%;
}

.map img {
  max-width: none;
}

.overlay {
  position: absolute;
  width: 3000px;
  height: 3000px;
  top: -3000px;
  right: 42px;
  overflow: hidden;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transform: rotate(-32deg);
          transform: rotate(-32deg);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

@media (min-width: 992px) {
  .overlay {
    right: 122px;
  }
}

.container-fluid {
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 480px) {
  .container-fluid {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 992px) {
  .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    padding-left: 90px;
    padding-right: 90px;
  }
}

.header-container {
  height: 200px;
}

@media (min-width: 480px) {
  .header-container {
    height: 350px;
  }
}

.page-header {
  position: absolute;
  width: 100%;
  height: 650px;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
}

@media (min-width: 768px) {
  .page-header {
    height: 100%;
  }
}

.header-text {
  z-index: 5;
  position: absolute;
  width: 100%;
}

.header-text h1 {
  margin-top: 140px;
  color: #ff0037;
  z-index: 2;
  font-size: 3.5em;
  line-height: 1em;
}

.header-text h1.no-image {
  color: #000;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .header-text h1 {
    font-size: 5.33em;
  }

  .header-text h1.no-image {
    padding: 0;
  }
}

@media (min-width: 1200px) {
  .header-text h1 {
    font-size: 6.667em;
  }
}

.content-container {
  position: relative;
  min-height: 700px;
  z-index: 2;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 10;
}

@media (min-width: 992px) {
  .content-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (min-width: 1200px) {
  .content-container {
    padding-left: 90px;
    padding-right: 90px;
  }
}

.content-container .content {
  min-height: 920px;
}

.content {
  padding: 15px;
  background: #fff;
}

.content h2 {
  margin-top: 0px;
}

@media (min-width: 768px) {
  .content {
    padding: 40px;
  }
}

.sidebar .side-block {
  margin: 60px 0;
}

.sidebar .side-block.padded {
  border-left: 3px solid #000;
  padding-left: 25px;
}

.sidebar .side-block:first-child {
  margin-top: 0;
}

.page-controls {
  text-align: center;
  width: 100%;
  font-size: 1.43em;
  font-weight: 500;
}

.page-controls .text-center {
  display: inline-block;
}

.page-controls a {
  text-decoration: none;
}

.page-controls li {
  display: none;
  list-style: none;
  padding: 6px 12px;
  font-weight: 500;
  border-right: 1px solid #000;
  background-size: 18px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .page-controls li {
    display: inline;
  }
}

.page-controls li:first-child {
  display: inline !important;
  content: "&nbsp;";
  position: relative;
  padding-right: 34px;
  border: 0;
  background-image: image-url("icons/arrow_left.png");
}

.page-controls li:first-child a {
  content: "<";
  color: #fff;
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
}

.page-controls li:last-child {
  display: inline !important;
  content: "&nbsp;";
  position: relative;
  padding-left: 34px;
  background-image: image-url("icons/arrow_right.png");
  border: 0;
}

.page-controls li:last-child a {
  content: "<";
  color: #fff;
  width: 40px;
  height: 40px;
  display: block;
  float: left;
  position: absolute;
  left: 0;
  top: 0;
}

.page-controls li:nth-last-child(2) {
  border: 0;
}

.page-controls li.active a {
  font-weight: 700;
}

.page-controls li.active a:hover {
  color: #000;
  text-decoration: none;
}

.header {
  position: fixed;
  width: 100%;
  height: 104px;
  z-index: 50;
  top: 0;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
}

.header.active {
  background-color: #efefef;
  height: 60px;
}

.header.active a {
  color: #000;
}

.header.active a:hover {
  color: #ff0037;
}

.header.active .logo {
  bottom: 10px;
}

.header.active .logo img {
  height: 98px;
}

.header.active .wordbrand {
  line-height: 60px;
}

.header.active .wordbrand img {
  height: 13px;
}

.header.active ul {
  margin: 0;
}

.header.active li.active a {
  color: #ff0037;
}

nav {
  padding: 0;
}

@media (min-width: 992px) {
  nav {
    padding: 0 90px;
  }
}

nav .logo img {
  height: 120px;
  top: 12px;
  position: absolute;
  right: 20px;
}

@media (min-width: 992px) {
  nav .logo img {
    right: 90px;
  }
}

nav .wordbrand {
  float: left;
  position: absolute;
  line-height: 110px;
}

nav .wordbrand img {
  margin-right: 30px;
  height: 15px;
}

nav ul {
  position: absolute;
  left: 290px;
  top: 0;
  margin: 0;
  margin-top: 24px;
  line-height: 60px;
}

nav li {
  float: left;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

nav li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 1em;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

nav li:hover {
  color: #ff0037;
}

nav li:hover a {
  color: #ff0037;
  text-decoration: none;
}

.large-menu ul {
  width: 100%;
}

.large-menu li {
  padding: 0 1%;
}

.large-menu {
  display: none;
}

@media (min-width: 992px) {
  .large-menu {
    display: block;
  }
}

.burger-container {
  position: absolute;
  top: 15px;
  left: 20px;
  width: 60px;
  height: 30px;
}

.burger {
  position: relative;
  padding: 0;
  margin: 0;
}

.burger .bun,
.burger .patty {
  position: absolute;
  width: 60px;
  height: 6px;
  background-color: #ff0037;
  list-style: none;
  -webkit-transition: opacity 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.burger .bun:first-child {
  top: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.burger .bun:last-child {
  top: 24px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.burger .patty {
  top: 12px;
  opacity: 1;
}

.opened .burger .bun:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.opened .burger .bun:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.opened .burger .patty {
  opacity: 0;
}

.menu-text {
  color: #ff0037;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  left: 92px;
  top: 0px;
}

.mobile-menu {
  position: absolute;
  display: block;
  width: 100%;
  min-height: 0%;
  height: 0px;
  background: #efefef;
  overflow: hidden;
  font-size: 12px;
  text-align: center;
  left: 0;
  -webkit-transition: min-height 300ms ease-in-out, height 300ms ease-in-out;
  transition: min-height 300ms ease-in-out, height 300ms ease-in-out;
}

.mobile-menu .header {
  height: 60px;
  overflow: hidden;
  -webkit-transition: min-height 300ms ease-in-out, height 300ms ease-in-out;
  transition: min-height 300ms ease-in-out, height 300ms ease-in-out;
}

.mobile-menu .navigation {
  width: 100%;
  height: 100%;
  left: 0;
  padding: 0;
}

.mobile-menu .nav-mobile {
  position: absolute;
  height: 70px;
  width: 161px;
  top: 0;
  visibility: visible;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: opacity 250ms ease-in-out 200ms;
  transition: opacity 250ms ease-in-out 200ms;
}

.mobile-menu .logo {
  position: fixed;
  width: 130px;
  height: 136px;
  top: 0;
  right: 0;
  z-index: 70;
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 250ms ease-in-out 200ms;
  transition: opacity 250ms ease-in-out 200ms;
}

.mobile-menu .logo img {
  height: 60px;
  top: 30px;
  position: absolute;
  right: 20px;
}

@media (min-width: 992px) {
  .mobile-menu .logo img {
    right: 90px;
  }
}

@media (min-width: 768px) {
  .mobile-menu .logo img {
    height: 96px;
    top: 12px;
  }
}

.mobile-menu nav {
  padding-top: 45px;
}

.mobile-menu nav .wordbrand {
  float: none;
  position: relative;
  margin-top: 60px;
}

.mobile-menu nav .wordbrand img {
  height: 17px;
  margin: 0;
}

.mobile-menu nav .close-btn {
  width: 100px;
  height: 120px;
  margin: 0 auto;
  cursor: pointer;
}

.mobile-menu nav .close {
  font-weight: 600;
  font-size: 14px;
  position: absolute;
  text-transform: uppercase;
  color: #ff0037;
  margin-top: 60px;
  margin-bottom: 60px;
}

.mobile-menu nav .close .cross-1,
.mobile-menu nav .close .cross-2 {
  display: block;
  position: absolute;
  width: 60px;
  height: 6px;
  background: #ff0037;
  top: 0;
  left: 20px;
}

.mobile-menu nav .close .cross-1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-menu nav .close .cross-2 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile-menu nav .close p {
  position: absolute;
  left: 17px;
  top: 20px;
}

.mobile-menu nav ul {
  position: relative;
}

.mobile-menu li {
  float: none;
  padding: 0 10px;
}

.mobile-menu li:hover {
  color: #ff0037;
}

.mobile-menu li:hover a {
  color: #ff0037;
  text-decoration: none;
}

.mobile-menu.active {
  height: 100%;
  min-height: 100%;
}

.mobile-menu.active .header {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.mobile-menu.active .logo {
  visibility: hidden;
  opacity: 0;
}

.mobile-menu.active .nav-mobile {
  visibility: hidden;
  opacity: 0;
}

@media (min-width: 992px) {
  .mobile-menu {
    display: none;
  }
}

.button {
  min-width: 200px;
  background-color: #fff;
  color: #ff0037;
  padding: 10px 25px;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  height: 44px;
  border-radius: 0;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

@media (min-width: 992px) {
  .button {
    font-size: 20px;
    line-height: 34px;
    padding: 5px 20px 5px 20px;
  }
}

.button:hover {
  background-color: #bcbcbc;
  color: #ff0037;
  text-decoration: none;
}

.button.red {
  background-color: #ff0037;
  color: #fff;
  font-size: 12px;
  line-height: 29px;
  height: 36px;
  padding: 4px 4px 4px 4px;
  min-width: 110px;
}

.button.red.ticketbutton {
  line-height: 14px;
  width: 92px;
  min-width: 0;
}

.button.red.newsletter {
  height: 44px;
}

@media (min-width: 768px) {
  .button.red.ticketbutton {
    line-height: 29px;
    min-width: 140px;
  }
}

@media (min-width: 992px) {
  .button.red {
    min-width: 140px;
    height: 44px;
    font-size: 14px;
    padding: 10px 25px 8px 25px;
  }

  .button.red.ticketbutton {
    min-width: 200px;
  }

  .button.red.newsletter {
    font-size: 14px;
  }
}

.button.red:hover {
  background-color: #ff4f75;
  color: #fff;
}

.button.black {
  background-color: #000;
  color: #fff;
  font-size: 14px;
}

.button.black:hover {
  background-color: #333333;
  color: #fff;
}

.button.disabled {
  background-color: #cccccc;
  color: #333;
  font-size: 10px;
  line-height: 29px;
  height: 36px;
  padding: 4px 4px 4px 4px;
  min-width: 110px;
  display: none;
}

@media (min-width: 992px) {
  .button.disabled {
    display: block;
    min-width: 200px;
    height: 44px;
    font-size: 14px;
    padding: 10px 25px 8px 25px;
  }
}

.button.small {
  min-width: 85px;
  font-size: 14px;
  line-height: 20px;
  padding: 2px 7px;
  min-height: 25px;
  height: 25px;
}

.button.social {
  width: 24%;
  height: 52px;
  min-width: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: 50px;
  fill: #000;
  -webkit-transition: fill 500ms;
  transition: fill 500ms;
}

.button.social svg {
  width: 40px;
  height: 40px;
}

.button.social.facebook {
  width: 15%;
}

.button.social.facebook:hover {
  fill: #3b5998;
}

.button.social.twitter {
  width: 15%;
}

.button.social.twitter:hover {
  fill: #2aa9e0;
}

.button.social.youtube:hover {
  fill: #e92a1d;
}

.button.social.youtube svg {
  width: 80px;
}

.button.social.spotify:hover {
  fill: #79b842;
}

.button.social.spotify svg {
  width: 80px;
}

.button.social.small {
  width: 40px;
  margin-top: -6px;
  margin-right: 15px;
  background-size: 35px;
}

.button.social:hover {
  background-color: rgba(0, 0, 0, 0);
}

.playbutton {
  display: none;
  width: 130px;
  height: 130px;
  position: absolute;
  background-image: image-url("icons/play_video.png");
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  left: 50%;
  margin-left: -65px;
  z-index: 40;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

@media (min-width: 768px) {
  .playbutton {
    display: block;
  }
}

.playbutton:hover {
  opacity: 0.6;
}

.playbutton.small {
  width: 72px;
  height: 72px;
  float: left;
  position: absolute;
  background-image: image-url("icons/play.png");
  right: 0;
  left: 98%;
  background-repeat: no-repeat;
  background-size: 36px;
  background-position: 50% 50%;
  cursor: pointer;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
}

.pause-audio .playbutton.small {
  background-image: image-url("icons/pause.png");
}

.play-audio .playbutton.small {
  background-image: image-url("icons/play.png");
}

.loading .playbutton.small {
  background-image: image-url("ajax-loader.gif");
  background-size: 20px;
}

.playbutton.small:hover {
  opacity: 0.4;
}

.button-more {
  font-size: 1.1667em;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: underline;
  color: #000;
  cursor: pointer;
}

.button-more:hover {
  color: #ff0037;
}

.button.ticketbutton {
  position: relative;
  min-width: 235px;
}

.button.ticketbutton .showtime {
  visibility: visible;
  opacity: 1;
  -webkit-transition: color 750ms;
  transition: color 750ms;
}

.button.ticketbutton .showtime-info-container {
  visibility: hidden;
  opacity: 0;
}

.button.ticketbutton .showtime-info-container {
  height: 1px;
  min-width: 235px;
  padding: 25px;
  text-align: left;
  font-size: 16px;
  text-transform: none;
  position: absolute;
  background-color: #fff;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transition: all 350ms;
  transition: all 350ms;
}

.button.ticketbutton .showtime-info-container p {
  color: #000;
  text-transform: none;
  margin: 10px 0;
  font-size: 20px;
}

.button.ticketbutton .showtime-info-container .date {
  color: #ff0037;
  font-size: 24px;
}

.button.ticketbutton .showtime-info-container .buy {
  margin: 20px auto;
  float: left;
  width: 100%;
  min-width: 0;
  cursor: pointer;
}

.button.ticketbutton:hover .showtime {
  visibility: hidden;
  opacity: 0;
  color: #fff;
}

.button.ticketbutton:hover .showtime-info-container {
  height: 246px;
  visibility: visible;
  opacity: 1;
  top: -92px;
}

.page-header-small {
  margin-top: 60px;
  position: relative;
}

.page-header-small h1 {
  margin: 0;
  font-size: 9.23em;
  color: #000;
}

.breadcrumbs {
  position: absolute;
  z-index: 30;
  top: 75px;
  left: 0;
}

.breadcrumbs ul {
  padding: 0;
  margin: 0;
}

.breadcrumbs ul li,
.breadcrumbs ul li a {
  list-style: none;
  float: left;
  color: #ff0037;
  font-size: 14px;
  padding: 0 4px 0 1px;
}

.breadcrumbs ul a {
  text-decoration: none;
}

.breadcrumbs ul a:hover {
  text-decoration: underline;
}

.breadcrumbs ul li:last-child {
  text-decoration: underline;
}

.share-container {
  padding: 30px 0;
  margin-top: 60px;
  border-top: 1px solid #000;
}

.share-container .intro {
  float: left;
  font-size: 1.33em;
  font-weight: 600;
  margin-right: 15px;
  width: 100%;
}

@media (min-width: 480px) {
  .share-container .intro {
    width: auto;
  }
}

.share-container .intro p {
  margin: 0;
}

.share-container .button.social {
  display: inline-block;
  line-height: 40px;
  font-size: 1.2em;
  color: #fff;
  height: 40px;
  width: auto;
  padding: 2px 20px 0 43px;
  margin-top: 15px;
  background-repeat: no-repeat;
  background-size: 26px;
  background-position: 8px 50%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}

.share-container .button.social.facebook {
  background-color: #3b5998;
  background-image: url("/images/icons/facebook-logo.svg");
}

.share-container .button.social.facebook:hover {
  background-color: #2d4373;
}

.share-container .button.social.twitter {
  background-color: #00aced;
  background-image: url("/images/icons/twitter-logo.svg");
}

.share-container .button.social.twitter:hover {
  background-color: #0087ba;
}

.share-container .button.social:hover {
  text-decoration: none;
}

@media (min-width: 480px) {
  .share-container .button.social {
    margin-top: -6px;
  }
}

.grey-container,
.newsletter-container {
  margin-bottom: 20px;
  padding: 30px 40px;
  background-color: #dddddd;
}

.grey-container h2,
.newsletter-container h2 {
  font-size: 2em;
  line-height: 2em;
  line-height: 40px;
  margin-top: 0;
  padding: 0;
}

.grey-container input[type=text],
.grey-container input[type=email],
.newsletter-container input[type=text],
.newsletter-container input[type=email] {
  width: 100%;
  height: 44px;
  padding-left: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 0;
  outline: none;
  line-height: 44px;
  font-weight: 600;
  border-radius: 0;
  font-size: 1.1666666667em;
  line-height: 1.7142857143em;
}

.grey-container .error,
.newsletter-container .error {
  color: #d4012e;
}

.grey-container .success-message,
.newsletter-container .success-message {
  display: none;
}

.grey-container .disclaimer,
.newsletter-container .disclaimer {
  margin-top: 65px;
  margin-bottom: 0;
}

.grey-container .button,
.newsletter-container .button {
  width: 140px;
  min-width: 0;
  border: 0;
  padding: 10px 15px 8px 15px;
  outline: none;
  -webkit-appearance: none;
}

.newsletter-on-page .newsletter-container {
  background-color: #fff;
}

.newsletter-on-page input[type=text],
.newsletter-on-page input[type=email] {
  background-color: #dddddd;
}

@-webkit-keyframes animateOverlay {
  0% {
    opacity: 1;
    width: 0;
  }
}

@keyframes animateOverlay {
  0% {
    opacity: 1;
    width: 0;
  }
}

@-webkit-keyframes fadeInProductioninfo {
  0% {
    opacity: 0;
    margin-left: -20px;
    visibility: hidden;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInProductioninfo {
  0% {
    opacity: 0;
    margin-left: -20px;
    visibility: hidden;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes animateArrow {
  0% {
    bottom: 10px;
  }

  25% {
    bottom: 30px;
  }

  50% {
    bottom: 10px;
  }

  75% {
    bottom: 30px;
  }
}

@keyframes animateArrow {
  0% {
    bottom: 10px;
  }

  25% {
    bottom: 30px;
  }

  50% {
    bottom: 10px;
  }

  75% {
    bottom: 30px;
  }
}

@-webkit-keyframes animatePreloader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animatePreloader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.production-container a,
.production-container a:hover {
  text-decoration: none;
}

.production-container h1 {
  color: #ff0037;
  margin: 0;
  font-size: 4.5em;
  line-height: 1em;
}

@media (min-width: 480px) {
  .production-container h1 {
    font-size: 5em;
  }
}

.production-container h2 {
  line-height: 80px;
  margin: 0;
}

.production-container.small-productions {
  margin-top: 20px;
}

@media (min-width: 768px) {
  .production-container.small-productions {
    margin-top: 60px;
  }
}

.container-featured {
  height: 75%;
  min-height: 500px;
}

.container-featured .row {
  overflow: visible;
}

@media (min-width: 992px) {
  .container-featured {
    height: 100%;
    min-height: 900px;
  }
}

.video {
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.production-featured {
  padding-top: 100px;
  background-size: cover;
  background-position: 50% 50%;
}

@media (min-width: 768px) {
  .production-featured {
    padding-top: 220px;
  }
}

.production-featured .production-info {
  opacity: 0;
  visibility: visible;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  -webkit-animation: fadeInProductioninfo 1s both 1.7s;
          animation: fadeInProductioninfo 1s both 1.7s;
}

.production-featured h2 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 25px;
  line-height: 34px;
}

.production-featured .homepage-video {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 900px;
  overflow: hidden;
  top: 0;
  left: 0;
  display: none;
}

.production-featured .tickets {
  display: none;
}

@media (min-width: 992px) {
  .h264 .production-featured .homepage-video {
    display: block;
  }

  .production-featured .tickets {
    display: block;
  }
}

.production-featured video {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
}

.production-featured .overlay {
  z-index: 0;
  opacity: 1;
  border-radius: 0px;
  -webkit-transition: opacity 5000ms;
  transition: opacity 5000ms;
  -webkit-animation: animateOverlay 1s both 1s;
          animation: animateOverlay 1s both 1s;
}

.production-featured .tickets {
  opacity: 0;
  -webkit-transition: opacity 250ms;
  transition: opacity 250ms;
  -webkit-animation: fadeInProductioninfo 1s both 2.2s;
          animation: fadeInProductioninfo 1s both 2.2s;
}

.production {
  height: 300px;
  position: relative;
}

@media (min-width: 768px) {
  .production {
    height: 440px;
  }
}

.production .content {
  padding: 20px;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  height: 100%;
  z-index: 2;
}

@media (min-width: 480px) {
  .production .content {
    padding: 40px;
  }
}

.production .content .buttons {
  position: absolute;
  bottom: 40px;
  z-index: 20;
}

.production h1 {
  margin-bottom: 10px;
}

.production h2 {
  font-size: 2em;
  line-height: 1.5em;
  color: #fff;
}

.production .production-info {
  z-index: 20;
}

.production .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: background 500ms;
  transition: background 500ms;
}

.production-small .runtime {
  margin-top: 0;
}

.production-small:hover .overlay {
  background: rgba(0, 0, 0, 0);
}

.production-small .production-info h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: none;
}

@media (min-width: 992px) {
  .production-small .production-info h2 {
    display: block;
  }
}

.runtime {
  font-size: 1.43em;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.tickets {
  opacity: 1;
  margin-top: 160px;
}

.tickets .red {
  min-width: 0;
}

.tickets p {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.43em;
}

.arrow {
  position: absolute;
  width: 72px;
  height: 72px;
  left: 50%;
  bottom: 10px;
  margin-left: -36px;
  background-image: image-url("icons/arrow_down.png");
  background-repeat: no-repeat;
  background-size: 38px;
  background-position: 50% 50%;
  border: 4px solid #fff;
  border-radius: 200px;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: top 500ms;
  transition: top 500ms;
  -webkit-animation: animateArrow 1s both 4.5s;
          animation: animateArrow 1s both 4.5s;
  opacity: 1;
  display: none;
}

@media (min-width: 768px) {
  .arrow {
    display: block;
  }
}

.block {
  margin-bottom: 12px;
}

@media (min-width: 480px) {
  .block {
    margin-bottom: 24px;
  }
}

.text-block {
  background: #ff0037;
  padding: 30px;
  height: 580px;
  position: relative;
}

@media (min-width: 992px) {
  .text-block {
    height: 520px;
  }
}

.text-block .text-content {
  max-height: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (min-width: 480px) {
  .text-block .text-content {
    max-height: 330px;
  }
}

@media (min-width: 1200px) {
  .text-block .text-content {
    max-height: 280px;
  }
}

.text-block h1 {
  margin-top: 0px;
  margin-bottom: 20px;
  color: #000;
  line-height: 70px;
  font-size: 4.2em;
  line-height: 1em;
}

.text-block p {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: 1.33em;
}

.text-block p.social-buttons {
  display: none;
  float: left;
  margin: 0 10px;
  line-height: 2em;
}

@media (min-width: 768px) {
  .text-block p.social-buttons {
    display: block;
    line-height: 45px;
  }
}

.text-block .text-options {
  position: absolute;
  width: 100%;
  left: 16px;
  bottom: 16px;
}

.text-block .social-icons {
  display: none;
  line-height: 4em;
}

.text-block .social-icons a {
  padding: 0 3px;
}

.text-block .social-icons a svg {
  width: 30px;
  height: 30px;
}

.text-block .social-icons a.youtube,
.text-block .social-icons a.spotify {
  padding-left: 0;
}

.text-block .social-icons a.youtube svg,
.text-block .social-icons a.spotify svg {
  width: 60px;
}

@media (min-width: 480px) {
  .text-block .social-icons {
    display: block;
  }
}

.text-block .button.black {
  float: left;
  margin-right: 20px;
}

.text-block h2 {
  font-size: 2em;
  color: #fff;
  margin-top: 24px;
  margin-bottom: 5px;
  line-height: 24px;
}

.showtimes-block {
  float: left;
  width: 100%;
  height: 400px;
  padding: 15px;
  background: #ffde00;
  font-size: 1.33em;
}

@media (min-width: 768px) {
  .showtimes-block {
    padding: 30px;
    height: 520px;
  }

  .showtimes-block a.caplink {
    font-size: 0.9em;
  }
}

.showtimes-block h1 {
  font-size: 2.6em;
}

.showtimes-block h1 a {
  text-transform: uppercase;
  text-decoration: underline;
  color: #ff0037;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.showtimes-block h1 a:hover {
  text-decoration: underline;
  color: #000;
}

.showtimes-block p {
  margin: 0;
  padding: 0;
}

.showtimes-block .showtime {
  display: table;
  table-layout: fixed;
  padding: 20px 0;
  width: 100%;
  border-bottom: 1px solid #000;
}

.showtimes-block .date,
.showtimes-block .details,
.showtimes-block .tickets {
  display: table-cell;
  box-sizing: content-box;
}

.showtimes-block .date {
  padding: 0 10px;
  width: 40px;
  text-transform: uppercase;
  text-align: center;
  border-right: 1px solid #000;
}

.showtimes-block .details {
  padding-left: 12px;
  width: 100%;
}

.showtimes-block .title,
.showtimes-block .time-and-location {
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.showtimes-block .tickets {
  width: 100px;
  text-align: right;
  vertical-align: middle;
}

.showtimes-block a.caplink {
  float: left;
  margin-top: 34px;
  font-size: 0.9em;
}

.image-slider-album {
  position: relative;
}

.image-slider-media {
  background: #fff;
  margin-top: 20px;
  margin-bottom: 40px;
  position: relative;
}

.image-slider-media.no-top-margin {
  margin-top: 0;
}

.image-slider-media-images .rsSlide img {
  width: 100%;
}

.image-slider-media-images img {
  max-width: 100%;
}

.image-slider-media-images .rsThumbs {
  width: 100%;
  background: #fff;
  padding-top: 10px;
}

.image-slider-media-images .rsThumbs .rsNavSelected {
  border-bottom: 2px solid #000;
}

.image-slider-media-images .rsThumbsContainer {
  margin: 0 auto;
}

.image-slider-media-images .rsArrow {
  position: absolute;
  width: 36px;
  height: 60px;
  top: 50%;
  left: 20px;
  margin-top: -50px;
  background-image: image-url("icons/arrow-left-red.png");
  background-size: 50%;
  background-repeat: no-repeat;
  -webkit-transition: opacity 200ms, -webkit-transform 200ms;
  transition: opacity 200ms, -webkit-transform 200ms;
  transition: opacity 200ms, transform 200ms;
  transition: opacity 200ms, transform 200ms, -webkit-transform 200ms;
}

@media (min-width: 480px) {
  .image-slider-media-images .rsArrow {
    background-size: 100%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.image-slider-media-images .rsArrowDisabled {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.image-slider-media-images .rsArrowRight {
  right: 0;
  left: auto;
  background-image: image-url("icons/arrow-right-red.png");
}

@media (min-width: 480px) {
  .image-slider-media-images .rsArrowRight {
    right: 20px;
  }
}

.image-slider-media-images .rsArrowRight.rsArrowDisabled {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.image-slider-media-slide {
  line-height: 0;
}

.image-slider-media-thumbnail {
  width: 130px;
  padding: 0 0 4px;
  line-height: 0;
}

.image-slider-media-video {
  padding: 20px;
}

.image-slider-buttons {
  margin-top: 40px;
}

.image-slider-buttons .button {
  margin-bottom: 5px;
}

#cookie-bar {
  background: #111111;
  height: auto;
  line-height: 24px;
  color: #eeeeee;
  text-align: center;
  padding: 6px 0;
  z-index: 100;
  font-size: 12px !important;
}

#cookie-bar.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#cookie-bar.fixed.bottom {
  bottom: 0;
  top: auto;
}

#cookie-bar p {
  margin: 0;
  padding: 0;
}

#cookie-bar a {
  color: #ffffff;
}

#cookie-bar a.cb-enable {
  color: #ffffff;
  display: inline-block;
  border-radius: 3px;
  text-decoration: none;
  padding: 0 6px;
  margin-left: 8px;
}

#cookie-bar .cb-enable {
  background: #007700;
}

#cookie-bar .cb-enable:hover {
  background: #009900;
}

#cookie-bar .cb-disable {
  background: #990000;
}

#cookie-bar .cb-disable:hover {
  background: #bb0000;
}

#cookie-bar .cb-policy {
  background: #0033bb;
}

#cookie-bar .cb-policy:hover {
  background: #0055dd;
}

.truncated-text {
  max-height: 5000px;
  overflow: hidden;
  -webkit-transition: max-height 1500ms ease-in-out;
  transition: max-height 1500ms ease-in-out;
}

.truncated-text.active {
  max-height: 180px;
  -webkit-transition: max-height 1500ms ease-in-out;
  transition: max-height 1500ms ease-in-out;
}

@media (min-width: 480px) {
  .truncated-text.active {
    max-height: 185px;
  }
}

@media (min-width: 768px) {
  .truncated-text.active {
    max-height: 190px;
  }
}

@media (min-width: 1200px) {
  .truncated-text.active {
    max-height: 185px;
  }
}

.side-block.text {
  float: left;
  margin-top: 40px;
}

.side-block.text h2 {
  margin-top: 0;
  line-height: 1em;
  text-decoration: underline;
  text-transform: uppercase;
}

.video-list {
  display: none;
  position: absolute;
  width: 100%;
  height: 480px;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}

@media (min-width: 992px) {
  .video-list {
    display: block;
  }
}

.attachments {
  font-size: 1.33em;
  line-height: 1em;
}

.attachments table {
  width: 100%;
  margin: 20px 0;
}

.attachments tr {
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.attachments tr:last-child {
  border-bottom: 0px;
}

.attachments td {
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 12px 0px;
}

@media (min-width: 992px) {
  .attachments td {
    max-width: none;
  }
}

.production-list {
  margin-top: 60px;
}

.production-list .button.black {
  position: relative;
  margin: 30px auto;
}

.production-not-found {
  margin-top: 100px;
  margin-bottom: 100px;
}

.production-not-found h2 {
  font-weight: 600;
}

.production-not-found p {
  margin-top: 0;
}

.production.list-item {
  display: block;
  width: 100%;
  height: 480px;
  position: relative;
  margin-bottom: 1px;
  background-size: cover;
  background-position: 50% 50%;
}

.production.list-item:hover .overlay {
  opacity: 0;
}

.production.list-item h2 {
  margin-bottom: 30px;
}

.production.list-item .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
}

.production.list-item.light .overlay {
  background: rgba(0, 0, 0, 0);
}

.production.list-item .production-info {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.production.list-item .more-info {
  display: inline-block;
}

@media (min-width: 992px) {
  .production.list-item .more-info {
    display: none;
  }
}

.production.list-item .tickets {
  display: none;
  margin-top: 80px;
}

@media (min-width: 992px) {
  .production.list-item .tickets {
    display: block;
  }
}

.archive-button {
  text-align: center;
}

@media (max-width: 460px) {
  .ticket-container {
    padding-left: 3px;
    padding-right: 3px;
  }

  .ticket-container .content {
    padding-left: 0px;
    padding-right: 0px;
  }

  .header-container.ticket-header {
    display: none;
  }
}

.ticketframe {
  width: 100%;
  height: 500px;
  border: 0;
  font-size: 1.833em;
}

iframe {
  border: 0;
}

.production-list.archive {
  margin-top: 0;
}

.production-list.archive a {
  display: block;
}

.production-list.archive .list-item {
  width: 100%;
  height: 250px;
  margin-bottom: 30px;
  background-color: black;
}

.production-list.archive .list-item:hover h1 {
  background-color: rgba(0, 0, 0, 0);
}

.production-list.archive .production-info {
  position: static;
  top: 20px;
  -webkit-transform: none;
          transform: none;
}

.production-list.archive h1 {
  width: 100%;
  height: 100%;
  padding: 30px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: background-color 500ms;
  transition: background-color 500ms;
  font-size: 4em;
  line-height: 1.3846153846em;
  line-height: 0.8em;
}

.year-row h2 {
  color: #000;
  text-align: center;
  font-weight: 800;
  margin-top: 0px;
}

.page-header-small.archive h1 {
  margin-top: 100px;
  margin-bottom: 20px;
}

.header-container.production-featured {
  height: 600px;
  padding-top: 30px;
}

.header-container.production-featured h1 {
  margin: 30px 0;
  position: relative;
  font-size: 6.667em;
  line-height: 0.9em;
}

@media (min-width: 768px) {
  .header-container.production-featured h1 {
    font-size: 5.33em;
  }
}

@media (min-width: 992px) {
  .header-container.production-featured h1 {
    font-size: 6em;
    line-height: 0.9em;
  }
}

@media (min-width: 1200px) {
  .header-container.production-featured h1 {
    font-size: 7em;
    line-height: 0.9em;
  }
}

.header-container.production-featured h2 {
  margin-top: -5px;
}

.header-container.production-featured .runtime {
  margin-top: 160px;
  margin-bottom: -24px;
}

.production-video {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
}

.production-video video {
  display: none;
}

@media (min-width: 992px) {
  .production-video video {
    display: block;
  }
}

.production-video .spacer {
  height: 600px;
}

video {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
}

.crewmembers {
  position: relative;
}

.crewmembers-container {
  background: #efefef;
  position: relative;
  height: 340px;
  margin: 35px 0 35px;
  padding: 30px 0;
  overflow: hidden;
}

.crewmembers-container p {
  margin: 0;
  font-size: 1em;
}

.crewmembers-container p.name {
  margin-top: 10px;
}

.crewmembers-container a {
  text-decoration: none;
}

.crewmembers-container a:hover {
  text-decoration: underline;
}

.crew-content {
  height: 100%;
  position: absolute;
  z-index: 10;
}

.member-image {
  width: 100%;
  height: 220px;
  background-size: cover;
  background-position: 50% 50%;
}

.slider-button-container {
  position: absolute;
  width: 65px;
  height: 100%;
  top: 0;
  z-index: 20;
}

.slider-button-container .slider-button {
  position: relative;
  width: 65px;
  height: 65px;
  top: 42%;
  border-radius: 65px;
  background-color: #efefef;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  cursor: pointer;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
}

.slider-button-container.left {
  left: -15px;
}

.slider-button-container.left .slider-button {
  background-image: image-url("icons/arrow_left.png");
  background-position: 30px;
}

.slider-button-container.right {
  right: -15px;
}

.slider-button-container.right .slider-button {
  background-image: image-url("icons/arrow_right.png");
  background-position: 17px;
}

.slider-container {
  position: relative;
  height: 250px;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
}

.slider-item-container {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0 15px;
  z-index: 10;
}

.slider-item {
  height: 85%;
  display: inline-block;
  position: relative;
  text-align: center;
}

.carousel {
  position: relative;
  width: 100%;
  height: 80px;
  overflow: hidden;
}

.carousel-container {
  position: relative;
  height: 80px;
}

.carousel-item-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  -webkit-transition: -webkit-transform 1500ms ease-in-out;
  transition: -webkit-transform 1500ms ease-in-out;
  transition: transform 1500ms ease-in-out;
  transition: transform 1500ms ease-in-out, -webkit-transform 1500ms ease-in-out;
}

.carousel-item {
  display: inline-block;
  position: relative;
  word-wrap: break-word;
}

.cd-title {
  position: relative;
  height: 160px;
  line-height: 230px;
  text-align: center;
}

.cd-title h1 {
  font-size: 2.4rem;
  font-weight: 700;
}

@media (min-width: 768px) {
  .cd-title {
    line-height: 250px;
  }
}

@media (min-width: 1200px) {
  .cd-title {
    height: 200px;
    line-height: 300px;
  }

  .cd-title h1 {
    font-size: 3rem;
  }
}

.cd-intro {
  width: 90%;
  text-align: left;
}

.cd-headline {
  font-size: 3rem;
  line-height: 1.2;
}

@media (min-width: 768px) {
  .cd-headline {
    font-size: 4.4rem;
    font-weight: 300;
  }
}

@media (min-width: 1200px) {
  .cd-headline {
    font-size: 6rem;
  }
}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}

.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}

.cd-words-wrapper b.is-visible {
  position: relative;
}

.no-js .cd-words-wrapper b {
  opacity: 0;
}

.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}

/* -------------------------------- 

xrotate-2 

-------------------------------- */

.cd-headline.rotate-2 .cd-words-wrapper {
  -webkit-perspective: 300px;
          perspective: 300px;
}

.cd-headline.rotate-2 i,
.cd-headline.rotate-2 em {
  display: inline-block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  font-style: normal !important;
  font-weight: 400;
}

.cd-headline.rotate-2 i {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translateZ(-20px) rotateX(90deg);
          transform: translateZ(-20px) rotateX(90deg);
  opacity: 0;
}

.is-visible .cd-headline.rotate-2 i {
  opacity: 1;
}

.cd-headline.rotate-2 i.in {
  -webkit-animation: cd-rotate-2-in 0.4s forwards;
          animation: cd-rotate-2-in 0.4s forwards;
}

.cd-headline.rotate-2 i.out {
  -webkit-animation: cd-rotate-2-out 0.4s forwards;
          animation: cd-rotate-2-out 0.4s forwards;
}

.cd-headline.rotate-2 em {
  -webkit-transform: translateZ(20px);
          transform: translateZ(20px);
}

.no-csstransitions .cd-headline.rotate-2 i {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  opacity: 0;
}

.no-csstransitions .cd-headline.rotate-2 i em {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.no-csstransitions .cd-headline.rotate-2 .is-visible i {
  opacity: 1;
}

@-webkit-keyframes cd-rotate-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
            transform: translateZ(-20px) rotateX(90deg);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(-10deg);
            transform: translateZ(-20px) rotateX(-10deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0deg);
            transform: translateZ(-20px) rotateX(0deg);
  }
}

@keyframes cd-rotate-2-in {
  0% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(90deg);
            transform: translateZ(-20px) rotateX(90deg);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(-10deg);
            transform: translateZ(-20px) rotateX(-10deg);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0deg);
            transform: translateZ(-20px) rotateX(0deg);
  }
}

@-webkit-keyframes cd-rotate-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0);
            transform: translateZ(-20px) rotateX(0);
  }

  60% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-100deg);
            transform: translateZ(-20px) rotateX(-100deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-90deg);
            transform: translateZ(-20px) rotateX(-90deg);
  }
}

@keyframes cd-rotate-2-out {
  0% {
    opacity: 1;
    -webkit-transform: translateZ(-20px) rotateX(0);
            transform: translateZ(-20px) rotateX(0);
  }

  60% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-100deg);
            transform: translateZ(-20px) rotateX(-100deg);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateZ(-20px) rotateX(-90deg);
            transform: translateZ(-20px) rotateX(-90deg);
  }
}

.press h2 {
  text-transform: uppercase;
  text-decoration: underline;
}

.press-item {
  margin: 20px 0;
  font-size: 1.33em;
}

.press-item a,
.press-item p {
  text-decoration: none;
}

.press-page .date {
  margin-top: 0;
}

.press-page h2 {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

.sidebar.news h2 {
  text-transform: uppercase;
  text-decoration: underline;
}

.sidebar.news-item {
  margin: 15px 0;
  font-size: 1.5em;
  float: left;
  width: 100%;
  text-decoration: none;
  font-weight: bold;
}

.sidebar.news-item > span.text {
  padding-right: 30px;
}

.sidebar.news-item img {
  width: 120px;
  float: left;
  margin-right: 20px;
}

.news-page .date {
  margin-top: 0;
}

.news-page h2 {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

.showtime-table-container .showtime-period {
  padding-bottom: 28px;
  border-bottom: 1px solid #000;
  margin-bottom: 0;
  margin-top: 30px;
  overflow: hidden;
}

.showtime-table-container .showtime-period.first {
  margin-top: 0px;
}

@media (min-width: 992px) {
  .showtime-table-container .showtime-period.first {
    margin-top: 30px;
  }
}

.showtime-table-container .month {
  float: left;
  margin-right: 10px;
}

.showtime-table-container .year {
  float: left;
  color: #ff0037;
}

@media (min-width: 480px) {
  .showtime-table-container .year {
    margin-right: 15px;
  }
}

.showtime-table {
  display: inline-block;
  width: 100%;
}

.showtime-row {
  display: inline-block;
  position: relative;
  width: 100%;
  border-bottom: 1px solid black;
}

@media (min-width: 992px) {
  .showtime-row {
    display: table;
    width: 100%;
    white-space: nowrap;
    table-layout: fixed;
    border-bottom: 1px solid;
    border-collapse: collapse;
  }
}

.showtime-cell {
  float: left;
  display: block;
  overflow: hidden;
  font-size: 1.25em;
  line-height: 32px;
  min-width: 105px;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.showtime-cell.icon {
  width: 50px;
  display: none;
  line-height: 32px;
}

.showtime-cell.date {
  min-width: 0;
  margin-right: 5px;
}

.showtime-cell.time {
  clear: right;
}

.showtime-cell.title {
  clear: left;
  min-width: 100%;
}

.showtime-cell.ticket {
  position: absolute;
  right: 0;
  top: 10px;
}

.showtime-cell .button {
  margin: 0;
  min-width: 100px;
  line-height: 29px;
}

@media (min-width: 480px) {
  .showtime-cell.ticket {
    min-width: 180px;
    top: 26px;
    right: 15px;
  }

  .showtime-cell.city {
    display: table-cell;
  }

  .showtime-cell .button {
    min-width: 170px;
  }
}

@media (min-width: 768px) {
  .showtime-cell {
    min-width: 180px;
  }

  .showtime-cell.date {
    min-width: 0;
    margin-right: 5px;
  }

  .showtime-cell.title {
    min-width: 180px;
  }

  .showtime-cell.ticket {
    min-width: 180px;
    top: 10px;
    right: 15px;
  }
}

@media (min-width: 992px) {
  .showtime-cell {
    display: table-cell;
    float: none;
    line-height: 65px;
    min-width: 0;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    width: 20%;
  }

  .showtime-cell.icon {
    display: table-cell;
    width: 50px;
    vertical-align: middle;
  }

  .showtime-cell.date {
    width: 105px;
  }

  .showtime-cell.time {
    width: 75px;
    clear: none;
  }

  .showtime-cell.title {
    clear: none;
  }

  .showtime-cell.ticket {
    position: relative;
    top: 0;
    width: 160px;
  }

  .showtime-cell .button {
    position: relative;
    min-width: 144px;
    top: 13px;
    padding: 10px 10px 8px 10px;
  }
}

@media (min-width: 1200px) {
  .showtime-cell .button {
    min-width: 170px;
  }
}

.legend {
  padding: 0;
  color: #999;
  margin-bottom: 20px;
  display: none;
  font-size: 1.2222em;
  margin-bottom: 0;
  width: 100%;
}

.legend .legend-item {
  margin-bottom: 0;
  width: 33%;
  float: none;
  clear: none;
  display: table-cell;
}

@media (min-width: 992px) {
  .legend {
    display: table;
  }
}

.legend img {
  float: left;
  width: 15px;
  margin-right: 6px;
  opacity: 0.4;
}

@media (min-width: 480px) {
  .legend img {
    width: 25px;
    margin-right: 10px;
  }
}

.legend p {
  float: left;
  margin: 0;
  line-height: 1em;
}

.showtimes-block.production {
  height: auto;
}

.showtimes-block.production h1 {
  margin: 0;
}

.showtimes-block.production h1 a {
  font-size: 0.85em;
}

.side-block.showtimes-block {
  overflow: hidden;
  float: none;
}

.contact-page-container h2 {
  margin-top: 0;
}

.contact-page-container hr {
  margin: 40px 0;
}

.contact-page-container p {
  margin: 0;
}

.contact-page-container .address,
.contact-page-container .contactinfo {
  font-size: 1.33em;
  line-height: 32px;
  margin-bottom: 40px;
}

.contact-page-container .address a,
.contact-page-container .contactinfo a {
  font-size: 1.33em;
}

.contact-page-container .address strong,
.contact-page-container .contactinfo strong {
  color: #ff0037;
}

.contact-page-container .address img,
.contact-page-container .contactinfo img {
  width: 30px;
  margin-bottom: -1px;
  margin-right: 10px;
  float: left;
}

.contact-page-container .routes {
  font-size: 1.11em;
  line-height: 28px;
}

.contact-page-container .routes .button {
  margin-top: 10px;
}

.contact-page-container .map {
  margin-bottom: 60px;
}

.contact-page-container .map h2,
.contact-page-container .social-media h2 {
  margin-bottom: 25px;
}

.contact-page-container .social-media .buttons {
  padding: 30px 0;
}

.contact-page-container .social-media .button.social {
  width: auto;
  padding: 0 15px;
  border-right: 1px solid #000;
}

.contact-page-container .social-media .button.social svg {
  width: 20px;
}

.contact-page-container .social-media .button.social.youtube svg,
.contact-page-container .social-media .button.social.spotify svg {
  width: 40px;
}

@media (min-width: 480px) {
  .contact-page-container .social-media .button.social svg {
    width: 40px;
  }

  .contact-page-container .social-media .button.social.youtube svg,
  .contact-page-container .social-media .button.social.spotify svg {
    width: 70px;
  }
}

.crew_production {
  margin: 20px 0;
}

.crew_production p {
  margin: 0;
}

.crew_production a {
  text-decoration: none;
}

.crew_production a:hover {
  text-decoration: underline;
}

.crew_biography {
  margin: 0;
}

.crew_biography h2 {
  margin-top: 0;
}

.crew-photo {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.page-header-small.news h1 {
  color: #ff0037;
}

.news-index img {
  width: 100%;
  min-height: 90px;
}

.news-index .content {
  padding: 15px 30px;
}

@media (min-width: 768px) {
  .news-index .content {
    padding: 25px 40px;
  }
}

.news-index h2 {
  margin-top: 0;
  text-decoration: none;
  line-height: 45px;
}

.news-index h2 a {
  text-decoration: none;
}

.news-index .date {
  display: none;
  font-weight: 600;
}

.news-index .news-item {
  margin-bottom: 30px;
}

.news-index .news-content,
.news-index .button {
  display: none;
}

@media (min-width: 768px) {
  .news-index .news-content,
  .news-index .date {
    display: block;
  }

  .news-index .button {
    display: inline-block;
  }

  .news-index h2 {
    line-height: 38px;
  }
}

.page-header-small.news-show {
  margin-top: 140px;
}

.page-header-small.news-show h1 {
  font-size: 4em;
  line-height: 2em;
  line-height: 80px;
  margin-bottom: 50px;
}

.news-message img {
  width: 100%;
}

.news-message .news-text {
  float: left;
}

@media (min-width: 768px) {
  .news-message .news-text {
    float: right;
  }
}

.news-message .news-video {
  margin-bottom: 40px;
}

.news-message .intro {
  font-weight: 600;
}

.news-message .intro p {
  margin-top: 0;
}

.headlines {
  display: none;
}

.headlines h1 {
  font-size: 6.667em;
  line-height: 30px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .headlines {
    display: block;
  }
}

.tile {
  width: 100%;
  display: inline-block;
  margin-bottom: 30px;
  font-size: 1.167em;
}

.tile .content {
  padding: 25px;
}

.tile-audio .content {
  background-size: cover;
  background-position: 50% 50%;
  min-height: 240px;
  position: relative;
}

.tile-audio .ui {
  width: 100%;
  height: 72px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.tile-audio .icon {
  width: 72px;
  height: 72px;
  float: left;
  position: absolute;
  left: 0;
  background: #000;
  background-image: image-url("icons/audio.png");
  background-size: 36px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.tile-audio .title {
  float: left;
  line-height: 72px;
  text-transform: uppercase;
  padding-left: 97px;
  color: #fff;
}

.tile-image .content {
  padding: 0;
}

.tile-image img {
  width: 100%;
}

.tile-news .content {
  text-align: center;
  background-color: #ffde00;
  position: relative;
}

.tile-news .title-container {
  height: 50px;
  margin-top: 20px;
}

.tile-news .title {
  background: #ffde00;
  text-transform: uppercase;
  margin-bottom: 8px;
  position: absolute;
  top: 0;
  padding: 0 5px;
  left: 50%;
  font-size: 1.833em;
  line-height: 0.2em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.tile-news .title-line {
  content: "";
  width: 100%;
  display: block;
  height: 5px;
  background: #000;
  position: relative;
}

.tile-news .date {
  text-transform: uppercase;
}

.tile-news .readmore {
  display: block;
  margin: 15px 0;
  text-decoration: underline;
  text-transform: uppercase;
}

.tile-quote .content {
  text-align: center;
  background-color: #ff0037;
}

.tile-quote .text {
  line-height: 34px;
}

.tile-quote .text p {
  margin: 35px 0;
  font-size: 1.667em;
}

.tile-quote .text:before,
.tile-quote .text:after {
  content: "";
  width: 62px;
  height: 49px;
  display: block;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0 auto;
}

.tile-quote .text:before {
  background-image: image-url("icons/quote_open.png");
}

.tile-quote .text:after {
  background-image: image-url("icons/quote_close.png");
}

.tile-quote .author {
  margin-top: 10px;
  font-size: 1.3em;
}

.tile-tweet .content {
  text-align: center;
  background-color: #4682c3;
}

.tile-tweet .text {
  color: #fff;
  font-size: 1.43em;
  line-height: 34px;
}

.tile-tweet .text a {
  color: #fff;
  text-decoration: underline;
}

.tile-tweet .text a:hover {
  color: #ff0037;
}

.tile-tweet .author {
  color: #000;
}

.tile-tweet .author a {
  text-decoration: none;
}

.tile-tweet .author:before {
  content: "";
  width: 41px;
  height: 34px;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 10px;
  background-image: image-url("icons/twitter_black.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.tile-video .content {
  padding: 0;
  position: relative;
}

.tile-video .thumbnail-overlay {
  width: 100%;
  height: 100%;
  z-index: 40;
  display: block;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.tile-text .content {
  background: #efefef;
}

.footer {
  background-color: #000;
  color: #fff;
  width: 100%;
  overflow: hidden;
  margin: 40px 0 0 0;
  text-align: center;
  padding-top: 30px;
}

@media (min-width: 992px) {
  .footer {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .footer {
    height: auto;
  }
}

.footer h4 {
  margin-top: 0;
  font-size: 1.2em;
  text-transform: uppercase;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer li {
  margin-right: 15px;
  list-style: none;
  display: inline-block;
  line-height: 36px;
}

.footer li:last-child {
  margin-right: 0;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer .buttons,
.footer .links {
  width: 100%;
  float: left;
  margin-bottom: 15px;
  padding: 0;
}

@media (min-width: 992px) {
  .footer .buttons,
  .footer .links {
    width: auto;
    padding: 0;
  }
}

.footer .links {
  margin-right: 15px;
}

.footer .button.social {
  padding: 0;
  background: none;
}

.footer .button.social svg {
  background: none;
  fill: #fff;
}

.footer .button.social.facebook,
.footer .button.social.instagram,
.footer .button.social.twitter,
.footer .button.social.youtube,
.footer .button.social.spotify {
  width: 40px;
  height: 30px;
}

.footer .button.social.facebook svg,
.footer .button.social.instagram svg,
.footer .button.social.twitter svg,
.footer .button.social.youtube svg,
.footer .button.social.spotify svg {
  width: 35px;
  height: 25px;
}

.footer .button.social.youtube,
.footer .button.social.spotify {
  width: 70px;
  height: 30px;
}

.footer .button.social.youtube svg,
.footer .button.social.spotify svg {
  width: 60px;
  height: 30px;
}

.footer .partners {
  text-align: left;
}

.footer .partners a,
.footer .partners a:hover {
  text-decoration: none;
}

.footer .partners img {
  max-width: 150px;
}

.page-image-album img {
  margin-bottom: 20px;
}

div.page-dynamic-content p:first-of-type {
  margin-top: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-moz-selection {
  background: #ff6687;
}

::selection,
::-moz-selection {
  background: #ff6687;
}

html {
  font-size: 75%;
  line-height: 2em;
}

html {
  font-family: "ff-mark-web";
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 10px;
}

@media (min-width: 480px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 15px;
  }
}

body {
  color: #000;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4 {
  font-family: "ff-mark-web";
}

h2 {
  font-size: 2.5em;
  line-height: 38px;
  margin-top: 40px;
  margin-bottom: 10px;
}

h2.first {
  margin-top: 0px;
  margin-bottom: 40px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: -26px;
}

a {
  color: #000;
  text-decoration: underline;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
}

a:hover,
a:focus {
  color: #ff0037;
  text-decoration: underline;
}

a:focus {
  outline: thin dotted #ff0037;
  outline: 5px auto -webkit-focus-ring-color;
}

a.caplink {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 0.7em;
}

a h3:hover {
  text-decoration: underline;
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #000;
}

p,
pre {
  margin: 1.4em 0;
  font-size: 1.33em;
}

ul:empty {
  margin: 0;
}

nav ul,
nav ol {
  padding: 0;
}

