.production-list.archive {
  margin-top: 0;
  
  a {
    display: block;
  }
  
  .list-item {
    width: 100%;
    height: 250px;
    margin-bottom: 30px;
    background-color: rgba(0,0,0, 1);
    
    &:hover {
      h1 {
        background-color: rgba(0,0,0, 0);
      }
    }
  }
  
  .production-info {
    position: static;
    top: 20px;
    transform: none;
  }
  
  h1 {
    width: 100%;
    height: 100%;
    padding: 30px;
    color: #fff;
    background-color: rgba(0,0,0, 0.5);
    transition: background-color 500ms;
    @include adjust-font-size-to(52px, $from-size: 13px);
    @include adjust-leading-to(0.4);
  }
  
  .tickets, h2 {
    
  }
}

.year-row{
  h2 {
    color: #000;
    text-align: center;
    font-weight: 800;
    margin-top: 0px;
  }
}

.page-header-small {
  &.archive {
    h1 {
      margin-top: 100px;
      margin-bottom: 20px
    }
  }
}