.production-list {
  margin-top: 60px;
  
  .button.black {
    position: relative;
    margin: 30px auto;
  }
}

.production-not-found {
  margin-top: 100px;
  margin-bottom: 100px;
  
  h2 {
    font-weight: 600;
  }
  
  p {
    margin-top: 0;
  }
}


.production.list-item {
  display: block;
  width: 100%;
  height: 480px;
  position: relative;
  margin-bottom: 1px;
  background-size: cover;
  background-position: 50% 50%;
  
  &:hover {
    .overlay {
      opacity: 0;
    }
  }
  
  h2 {
    margin-bottom: 30px;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: opacity 500ms;
  }
  
  &.light {
    .overlay {
      background: rgba(0,0,0, 0.0);
    }
  }
  
  .production-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .more-info {
    display: inline-block;
    
    @media (min-width: $screen-md) {
      display: none;
    }
  }
  
  .tickets {
    display: none;
    margin-top: 80px;
    
    @media (min-width: $screen-md) {
      display: block;
    }
  }
}

.archive-button {
  text-align: center;
}
