@media (max-width: 460px) {
  .ticket-container {
    padding-top: 40px;
    padding-left: 3px;
    padding-right: 3px;
    .content {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  .header-container.ticket-header {
    display:none;
  }
}

.ticketframe {
  width: 100%;
  height: 500px;
  border: 0;
  font-size: 1.833em;
  @extend %tu-font-bold;
}

iframe {
  border: 0;
}
